.bg-login-image,
.bg-password-image {
    background-image: url('/img/logo.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-search .btn-primary {
    padding: 0 15px;
}

#top-menu {
    border-bottom: 1px solid #e3e7ed;
}

#scheduleTable .btn,
#dataTable .btn {
    margin: 0 5px;
}

.card-header .float-right {
    position: absolute;
    right: 15px;
    top: 0px;
}

.lesson .float-right {
    top: 10px;
}

.bg-gradient-primary .nav-item:active,
.bg-gradient-primary .nav-item:focus,
.bg-gradient-primary .nav-item:hover {
    background-color: #224abe;
    font-weight: bold;
}

.card-header .text-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
}

#collapseOne .collapse-item:hover #icon-submenu,
#accordionSidebar .nav-item .nav-link:hover #icon-submenu,
.collapse .collapse-item:hover #icon-submenu {
    display: block;
}

.sidebar-right {
    border-left: 1px solid #ddd;
}

#icon-submenu {
    display: none;
    position: absolute;
    right: 10px;
}

#accordionSidebar .nav-item .nav-link #icon-submenu .fas {
    top: -24px;
    position: relative;
    right: 20px;
}

#icon-submenu .fas {
    padding: 0 10px;
    top: -18px;
    position: relative;
}

    #icon-submenu .fas:hover {
        color: #1865f2;
    }

#list-detail .sub-menu,
#list-detail .sidebar,
#list-detail .nav-item .nav-link {
    width: 100% !important;
}

#menu-left {
    border-right: 1px solid #ddd;
    padding: 0;
}

#lesson-detail {
    background-color: #fff;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.nav-pills .nav-link.active {
    color: #1865f2;
    background-color: transparent;
}

.nav-pills .nav-link:hover {
    background-color: #d8dbe0;
    border-color: #d8dbe0;
}

.nav-pills .nav-link {
    color: #444;
    margin-right: 10px;
}

    .nav-pills .nav-link:hover {
        background-color: #d8dbe0;
        border-color: #d8dbe0;
    }

#pills-tab .far,
#pills-tab .fab,
#pills-tab .fas {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
    margin-right: 15px;
}

#accordionSidebar {
    box-shadow: 0px 10px 10px rgba(28, 39, 60, 0.03);
    -webkit-box-shadow: 0px 10px 10px rgba(28, 39, 60, 0.03);
    -moz-box-shadow: 0px 10px 10px rgba(28, 39, 60, 0.03);
}

#scores-popup .item {
    width: 100%;
    padding: 10px 0 0;
    border-bottom: solid 1px #ccc;
    border-radius: 5px;
}

.card-header .text-primary,
.card-header .text-primary a {
    padding: 5px 0;
    text-transform: uppercase;
}

.header-title .text-primary {
    color: #4e73df !important;
}

.user .btn-user {
    font-weight: bold;
}

#myTab .nav-item:first-child {
    margin-left: 30px;
}

#myTab .nav-item > a {
    color: #333;
}

.media-holder {
    max-width: 100%;
    min-width: 50%;
    margin: 3px 0;
}

video, audio {
    width: auto;
    min-width: 80%;
    display: inline-block;
    vertical-align: middle;
}

#check .float-right {
    position: absolute;
    right: 20px;
    top: 15px;
}

#counter {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}

#check .btn-primary {
    padding: 15px;
    border-color: #a90329;
    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
}

#dataTable .input-group input {
    width: 25px;
    height: 25px;
    margin: auto;
}

.chose-file {
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.navbar-light .navbar-nav .nav-link {
    padding: 15px 20px;
}

.bg-news .media .img-fluid {
    max-width: 250px;
}

.bg-news .media-body {
    text-align: justify;
}

.bg-news-right {
    border-left: 1px solid #ddd;
}

    .bg-news-right .media .img-fluid {
        max-width: 50px;
    }
/* css btn toggle*/
.btn-toggle.btn-lg.active {
    transition: background-color 0.5s;
}

.btn-toggle.btn-lg {
    margin: 0 5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 2rem;
    width: 6rem;
    border-radius: 2.5rem;
}

.btn-toggle.active {
    background-color: #29b5a8;
}

.btn-toggle.btn-lg.active:before {
    opacity: 0.5;
}

.btn-toggle.btn-lg:before {
    line-height: 2.5rem;
    width: 6rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.5s;
}

.btn-toggle.btn-lg.active > .handle {
    left: 4.2rem;
    transition: left 0.5s;
}

.btn-toggle.btn-lg > .handle {
    position: absolute;
    top: 0.22rem;
    left: 0.3125rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.875rem;
    background: #fff;
    transition: left 0.5s;
}

/*check number student*/

.rounded-quiz {
    margin: 5px;
    display: inline-block;
    border-radius: 25px;
    width: 30px;
    line-height: 24px;
    text-align: center;
    padding: 2px 0 !important;
}

    .rounded-quiz.completed {
        background-color: #666;
        color: #36b9cc;
    }

.number {
    color: #999;
    font-weight: bold;
    position: fixed;
    right: 10px;
    background-color: #fff;
    border: 2px solid #999;
    width: 66px;
    text-align: center;
    padding: 19px 0;
    border-radius: 50%;
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgb(238,238,238) 0%, rgb(204,204,204) 100%);
    background: -webkit-linear-gradient(top, rgb(238,238,238) 0%,rgb(204,204,204) 100%);
    background: linear-gradient(to bottom, rgb(238,238,238) 0%,rgb(204,204,204) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    cursor: pointer;
}

    .number .completed {
        color: #ff0000;
    }

    .number .finish {
        color: #36b9cc;
    }

.overlay {
    display: none;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.9);
}

    .overlay .btn-outline-secondary {
        margin: 0 0px 10px 8px;
    }

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    font-size: 45px;
    left: 5px;
    top: -20px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.quiz-item .quiz-extend {
    color: cornflowerblue;
}
/* sesson */
.quiz-item {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: solid 1px #ccc;
}

.quiz-box-header {
    padding: 20px 0;
}

.part-box-header .title {
    line-height: inherit;
    text-align: justify;
}

.QUIZ3 .quiz-pane {
    width: 48%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
}

.QUIZ3 .pane-item {
    display: block;
    margin: 7px;
    border: dotted 1px #ccc;
    border-radius: 5px;
    padding: 10px;
    background: #ddd;
}

.QUIZ3 .ui-draggable-handle {
    margin: 7px;
    border: dotted 1px #ccc;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}

.QUIZ3 .no-child .ui-draggable-handle {
    color: #333;
    margin: 7px;
    padding: 5px;
    background-color: #ddd;
    border-color: #ddd;
    border: dotted 1px #ccc;
    border-radius: 5px;
}

.QUIZ3 .answer-text {
    margin: 0;
    padding: 5px;
}

.QUIZ3 .answer-pane {
    width: 48%;
    display: inline-block;
    border: dotted 1px #ccc;
    text-align: center;
}

.QUIZ3 .answer-wrapper .answer-box,
.QUIZ3 .answer-wrapper .answer-item {
    display: inline-block;
    width: 48%;
    text-align: left;
    vertical-align: top;
    position: relative;
    margin: 3% 0.5%;
}
/* custom sesson */

.lesson-box .btn-primary {
    margin-right: 10px;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .quiz-remove {
    right: 10px;
    padding: 3px 7px 1px 8px;
    border-radius: 40px;
    line-height: 20px;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .quiz-remove,
.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-remove {
    border: solid 1px #ccc;
    cursor: pointer;
    color: #ccc;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .fieldset_title,
.lesson-modal .lesson_parts .part_content .fieldQuestion .quiz-remove,
.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-remove {
    font-weight: bold;
    position: absolute;
    top: -15px;
    background: #fff;
    padding: 5px;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-wrapper .answer-box .answer-text,
.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-wrapper .answer-item .answer-text {
    font-size: inherit;
    color: inherit;
    display: inline-block;
    width: calc(100% - 30px);
    margin-bottom: 0;
}

.lesson-modal .lesson_parts .input-text {
    padding: 1px 3px;
    display: block;
    width: 100%;
    margin-bottom: 7px;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .quiz-remove:hover,
.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-remove:hover {
    color: #333;
    border: solid 1px #333;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-remove {
    right: -10px;
    line-height: 11px;
    top: -8px;
    border-radius: 10px;
    padding: 4px 4px 1px 4px;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .fieldset_title,
.lesson-modal .lesson_parts .part_content .fieldQuestion .quiz-remove,
.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-remove {
    font-weight: bold;
    position: absolute;
    top: -15px;
    background: #fff;
    padding: 5px;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-wrapper .btnAddAnswer {
    vertical-align: top;
    margin-top: 0;
}

.lesson-modal .btn:hover {
    background-color: #f44336 !important;
    color: #fff !important;
}

.lesson-modal .btn-primary.btnAddFile {
    margin: 10px 0;
}

.lesson-modal .btn-danger {
    position: relative;
    left: 10px;
}

.hide {
    display: none;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-wrapper .answer-box .answer-checkbox,
.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-wrapper .answer-item .answer-checkbox {
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    vertical-align: baseline;
}

.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-wrapper .answer-box,
.lesson-modal .lesson_parts .part_content .fieldQuestion .answer-wrapper .answer-item {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 23%;
    min-width: 175px;
    font-size: 15px;
    color: #999;
    text-align: left;
    vertical-align: top;
    position: relative;
}

.lesson-modal .lesson_parts .input-text.part_point {
    display: inline-block;
    max-width: 50px;
}

.lesson-modal .lesson_parts .input-text {
    padding: 1px 3px;
    display: block;
    width: 100%;
    margin-bottom: 7px;
}
