/* custom css */
.lesson-modal .lesson_parts {
    font-size: 14px;
}

.lesson-modal .lesson_parts {
    font-size: 14px;
}

    .lesson-modal .lesson_parts .input-text {
        padding: 1px 3px;
        display: block;
        width: 100%;
        margin-bottom: 7px;
    }

.lesson-modal .btn {
    padding: 6px 12px;
    color: #fff;
    background-color: #bbb;
    box-shadow: none;
    font-size: 11px;
}

.media_preview {
    max-width: 180px;
    max-height: 150px;
    overflow: hidden;
}

.hide {
    display: none;
}

textarea {
    height: auto !important;
    resize: none;
    line-height: 1.428571 !important;
}
