@{
    ViewData["Title"] = "Dashboard - " + DateTime.Now.ToString("D");
    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
}
<script>
    setActiveMenu("curriculum");
</script>

<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25 justify-content-between">
            <div class="flex">
                <div class="w-250 box filter-box">
                    <select name="">
                        <option value="">IELTS Preparation</option>
                    </select>
                </div>
                <div class="box filter-box w-152">
                    <select name="">
                        <option value="">Môn học</option>
                    </select>
                </div>
                <div class="box filter-box w-152">
                    <select name="">
                        <option value="">Cấp độ</option>
                    </select>
                </div>
            </div>
            <b-button v-b-modal.modal_event class="btn-addevent"><i class="ti-plus"></i> Thêm bài giảng</b-button>
        </div>
    </div>
    <div class="card-body">
        <table id="ed_table" class="table">
            <thead>
                <tr>
                    <th v-for="(field,k) in fields">{{field.label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,k) in tableData" v-if="item.id > 0">
                    <td>{{k+1}}</td>
                    <td>{{item.lesson_name}}</td>
                    <td>{{item.subject_name}}</td>
                    <td>{{item.level}}</td>
                    <td>{{item.created_at}}</td>
                    <td><b-form-checkbox switch v-model="item.state" v-on:change="toggleState(item)"></b-form-checkbox></td>
                    <td>
                        <div class="d-flex btn-group">
                            <a class="btn-act btn-edit" href="#"><i class="ti-pencil-alt"></i></a>
                            <button class="btn-act btn-trash" v-on:click="destroy(item.id)"><i class="ti-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="box margin-t20 flex">
            <div class="paging-view">
                Hiển thị:
                <select v-model="view">
                    <option value="10">10 kết quả</option>
                    <option value="20">20 kết quả</option>
                    <option value="30">30 kết quả</option>
                </select>
            </div>
            <div class="page-control">
                <div class="inner">
                    <button><i class="ti-angle-left"></i></button>
                    <button><i class="ti-angle-double-left"></i></button>
                    <input type="text" v-model="page" />
                    <button><i class="ti-angle-double-right"></i></button>
                    <button><i class="ti-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
    new Vue({
        el: ".module",
		data: {
            tableData : [
                {
                    id : 1,
                    lesson_name : 'IELTS Preparation',
                    subject_name : 'Listening',
                    level : 'A2',
                    created_at : '02/11/2019',
                    state : true
                },
                {
                    id : 2,
                    lesson_name : 'Destination B1',
                    subject_name : 'PET',
                    level : 'A2',
                    created_at : '02/11/2019',
                    state : false
                },
                {
                    id : 3,
                    lesson_name : '	Ngữ pháp A2',
                    subject_name : 'KET',
                    level : 'A2',
                    created_at : '02/11/2019',
                    state : true
                },
            ],
            fields : [
                {
                    key : 'stt',
                    label : '#'
                },
                {
                    key : 'lesson_name',
                    label : 'Tên bài giảng'
                },
                {
                    key : 'subject_name',
                    label : 'Môn học'
                },
                {
                    key : 'level',
                    label : 'Cấp độ'
                },
                {
                    key : 'created_at',
                    label : 'Ngày tạo'
                },
                {
                    key : 'state',
                    label : 'Trạng thái'
                },
                {
                    key : 'actions',
                    label : 'Tác vụ'
                }
            ],
            week : '',
            view : 10,
            page : 1,
            pageSize : 10
        },
        watch : {
        },
        methods: {
            getData(){
                let _data = []

                this.tableData = _data
            },
            getNews(){
                // tương tự như trên
            },
            destroy(id){
                this.tableData.forEach(function(item,k){
                    if(item.id == id){
                        item.id = 0
                    }
                })
                let _data = this.tableData.filter(function(a){
                    return a.id > 0
                })
                this.tableData = _data
            },
            toggleState(obj){
                this.tableData.forEach(function(item,k){
                    if(item.id === obj.id){
                        item.state = !item.state
                    }
                })
            }
        }
    });
    </script>
}