.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination>li>a, .pagination>li>span {
     position: relative; 
     float: left; 
     padding: 6px 12px; 
     margin-left: -1px; 
     line-height: 1.42857143; 
     color: #337ab7; 
     text-decoration: none; 
     background-color: #fff; 
     border: 1px solid #ddd; 
}
.user-role {
    font-size: 0.8em !important;
    margin-right: 1px;
}

.control-box {
    margin-bottom: 5px;
}

.search-box {
    margin: 0;
}

.nav-item.toolbaritem a {
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 100px;
}

.user-disabled {
    color: #777;
    font-style: italic;
}

.locked-out {
    background-color: orangered;
    color: whitesmoke;
    width: 100%;
    display: inline-block;
    padding-left: 5px;
}
a {
    cursor: pointer;
}