################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DashBoard/v15/Server/sqlite3
/.vs/DashBoard/v16
/.vs/DashBoard/DesignTimeBuild
/.vs
/BasePublisherMVC
