
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[oO]bj



*.pyc
obj\Debug
*\obj\Debug
obj/Debug
*/obj/Debug
/AdminPage_MongoDB/obj/
/BaseMVC/obj/
BasePublisherModels/obj/
BasePublisherMVC/obj/
Business/obj/
Admin_Sub_API/obj/
ClientPage/obj/
ClientPage/obj/
JWTExample/obj/
KiemTraNhieuThe/obj/
.vs
/JWT_Authentication
/BaseApi_MongoDB
/api_customer
/Admin_Customer/wwwroot/lib/signalr/dist/browser
