################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DashBoard/v15/Server/sqlite3
/.vs/DashBoard/v16
/.vs/DashBoard/DesignTimeBuild
/.vs
/BasePublisherMVC
/BaseMVCPublisher
/BaseModelsPublisher
PublisherPage/obj/
PublisherPage/Properties/
PublisherPage/bin/
KiemTraNhieuThe/bin/
KiemTraNhieuThe/obj/
JWTExample/obj/
JWTExample/bin/
EntityBaseFW/obj/
EntityBaseFW/bin/
CoreMongoDB/obj/
CoreMongoDB/bin/
CoreLogs/obj/
CoreLogs/bin/
ClientPage/obj/
ClientPage/bin/
BasePublisherModels/obj/
BasePublisherModels/bin/
BaseMVC/bin/
BaseMVC/obj/
BaseMongoDB/obj/
BaseMongoDB/bin/
AdminPage_MongoDb/obj/
AdminPage_MongoDb/bin/
PublisherPage/appsettings.json
/PublisherPage/wwwroot/Logs/Info
/packages
