
<div class="col-md-12">
  <ul class="breadcrumb" style="margin:0">
    <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Tra cứu đúng tuyến</li>
  </ul>
</div>
<div class="container">
  <div class="row" id="rowin">
    <div class="col-md-12">
      <h1 class="head text-uppercase">Tra cứu đúng tuyến</h1>
      <div class="panel panel-default">
        <div class="panel-body bg-brown">
          <div>

            <form *ngIf="1==1" #f="ngForm" novalidate (ngSubmit)="search(f)" name="searchForm"
                  class="form-horizontal vt-form vt-form-tcdt">
              <div class="form-group">
                <div class="col-md-8 offset-md-3">
                  <div class="row">
                    <div class="col-md-6 col-xs-6 rdio rdio-primary" (click)="ChangeHoTen()">
                      <input [(ngModel)]="dataSearch.searchType" id="TC-hoten" value="HoTen" name="Tracuu"
                             type="radio">
                      <label for="TC-hoten">TRA CỨU THEO HỌ TÊN</label>
                    </div>
                    <div class="col-md-6 col-xs-6 rdio rdio-primary">
                      <input [(ngModel)]="dataSearch.searchType" value="DiaChi" id="TC-diachi" name="Tracuu"
                             type="radio">
                      <label for="TC-diachi">TRA CỨU THEO ĐỊA CHỈ</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="TC-ten col-md-10 offset-md-1 m-t-20" *ngIf="dataSearch.searchType == 'HoTen'">
                <div class="form-group">
                  <div class="row">
                    <label class="col-md-3  m-b-10" style=" text-align:right;max-width:20%;padding-top:10px">
                      Cấp học - năm học
                    </label>
                    <div class="col-md-4 m-b-10">
                      <div class="listBox" style="height: 34px;">
                        <ngx-select [items]="lstCapHoc" [(ngModel)]="dataSearch.capHoc" name="CapHoc"></ngx-select>
                      </div>
                    </div>

                    <div class="col-md-4 m-b-10">
                      <div class="listBox" style="height: 34px;">
                        <ngx-select [items]="lstNamHoc" [(ngModel)]="dataSearch.namHoc" name="NamHoc"></ngx-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-md-3 m-b-5 control-label" style=" text-align:right;max-width:20%;padding-top:10px">
                      Họ tên - ngày sinh
                    </label>
                    <div class="col-md-4 m-b-10">
                      <div class="listBox">
                        <input [(ngModel)]="dataSearch.tenHocSinh"
                               class="form-control text-uppercase"
                               name="HoTen"
                               type="text" placeholder="Họ tên học sinh"
                               required #TenHocSinh="ngModel"
                               maxlength="200">
                        <span class="validate red p-l-25"
                              *ngIf="f.submitted && !TenHocSinh.valid">
                          Bạn chưa nhập họ tên học sinh
                        </span>
                      </div>
                    </div>
                    <div class="col-md-4 m-b-10">
                      <!--<div class="input-group date" bootstrapDatepicker>
                        <input bootstrapDatepicker autocomplete="off" class="form-control" required #NgaySinh="ngModel" placeholder="Nhập ngày sinh vd 30/10/2014" [(ngModel)]="dataSearch.ngaySinhUTC">
                        <span class="input-group-addon">
                          <i class="fa fa-calendar bootstrapDatepicker"></i>
                        </span>
                      </div>-->
                      <my-date-picker [(ngModel)]="dataSearch.ngaySinhUTC" [options]="myDatePickerOptions" required #NgaySinh="ngModel" placeholder="Nhập ngày sinh vd 30/10/2014" name="NgaySinh"></my-date-picker>
                      <span class="validate red p-l-25"
                            *ngIf="f.submitted && !NgaySinh.valid">
                        Bạn chưa nhập ngày sinh
                      </span>
                    </div>
                  </div>

                </div>

              </div>


              <div class="TC-diachi m-t-40 m-b-20" *ngIf="dataSearch.searchType == 'DiaChi'">
                <div class="form-group">
                  <div class="row">
                    <label class="col-md-2 col-form-label">
                      Cấp học - năm học
                    </label>
                    <div class="col-md-2">
                      <div class="listBox" style="height: 34px;">
                        <ngx-select [items]="lstCapHoc"
                                    [(ngModel)]="dataSearch.capHoc"
                                    required #CapHoc="ngModel"
                                    name="CapHoc">
                        </ngx-select>
                        <span class="vt-require-select text-danger" *ngIf="f.submitted && CapHoc.errors?.required">
                        </span>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="listBox" style="height: 34px;">
                        <ngx-select [items]="lstNamHoc" [(ngModel)]="dataSearch.namHoc" name="NamHoc"></ngx-select>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">Địa chỉ</label>
                  <div class="col-md-2">
                    <div class="listBox">
                      <ngx-select [items]="lstTinhThanh"
                                  [(ngModel)]="dataSearch.MaTinhThanh"
                                  name="MaTinhThanh"
                                  [disabled]=true>
                      </ngx-select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="listBox">
                      <ngx-select [items]="lstQuanHuyen"
                                  [(ngModel)]="dataSearch.MaQuanHuyen"
                                  name="MaQuanHuyen"
                                  required #QuanHuyen="ngModel"
                                  (selectionChanges)="doMaQuanHuyen($event)">
                      </ngx-select>
                      <span class="vt-require-select text-danger" *ngIf="f.submitted && QuanHuyen.errors?.required">
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="listBox">
                      <ngx-select [items]="lstPhuongXa"
                                  id="dsPhuongXa"
                                  [(ngModel)]="dataSearch.MaPhuongXa"
                                  name="MaPhuongXa"
                                  required #PhuongXa="ngModel"
                                  (selectionChanges)="doMaPhuongXa($event)">
                      </ngx-select>
                      <span class="vt-require-select text-danger" *ngIf="f.submitted && PhuongXa.errors?.required">
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="listBox">
                      <ngx-select [items]="lstToThon"
                                  id="dsToThon"
                                  [(ngModel)]="dataSearch.MaToThon"
                                  name="MaToThon"
                                  required #ToThon="ngModel"
                                  (selectionChanges)="doMaToThon($event)">
                      </ngx-select>
                      <span class="vt-require-select text-danger" *ngIf="f.submitted && ToThon.errors?.required">
                      </span>
                    </div>
                  </div>

                </div>

                <div class="form-group row">
                  <label class="col-md-2 text-right">Loại cư trú</label>

                  <div class="col-md-2 rdio rdio-primary m-l-15">
                    <input checked="" [(ngModel)]="dataSearch.LoaiCuTru"
                           value="1" name="Loai cu tru" type="radio"
                           id="Thuongtru">
                    <label for="Thuongtru">Thường trú</label>
                  </div>
                  <div class="col-md-2 rdio rdio-primary">
                    <input value="2" [(ngModel)]="dataSearch.LoaiCuTru"
                           id="Tamtru" name="Loai cu tru" type="radio">
                    <label for="Tamtru">Tạm trú</label>
                  </div>
                  <div class="col-md-2 rdio rdio-primary">
                    <input value="3" [(ngModel)]="dataSearch.LoaiCuTru"
                           id="KT3" name="Loai cu tru" type="radio">
                    <label for="KT3">KT3</label>
                  </div>
                </div>
              </div>


              <div class="form-group text-center m-t-10">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-warning font01">
                    <i class="fa fa-search"></i> Tra cứu
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-content reportBox" id="InfoSchool">
        <div class="inner">
          <h4 class="tit-admission text-bold">Kết quả trường đúng tuyến tuyển sinh:</h4>
          <div *ngIf="!firstLoad && (!lstTruongHoc || lstTruongHoc.length === 0)">
            {{errorMessage}}
          </div>
          <div class="panel-group accord-info">
            <view-ttin-tsinh-truong [item]="item" [namHoc]="dataSearch.namHoc" [capHoc]="dataSearch.capHoc" *ngFor="let item of lstTruongHoc"></view-ttin-tsinh-truong>

            <!--<vt-view-ttin-tsinh-truong vt-item="item"
                             vt-cap-hoc="{{dataSearch.CapHoc}}"
                             vt-nam-hoc="{{dataSearch.NamHoc}}"
                             vt-open="true"
                             vt-show-dang-ky="true"
                             vt-hoc-sinh="currentHocSinh"
                             vt-ma-tinh-thanh="{{dataSearch.MaTinhThanh}}"
                             vt-ma-quan-huyen="{{dataSearch.MaQuanHuyen}}"
                             vt-ma-phuong-xa="{{dataSearch.MaPhuongXa}}"
                             vt-ma-to-thon="{{dataSearch.MaToThon}}"
                             vt-loai-cu-tru="{{dataSearch.LoaiCuTru}}"
                             ng-repeat="item in lstTruongHoc" />-->
          </div>

          <!--<div class="agreement">-->
          <!--<div class="btn-group text-center">-->
          <!--<a href="#/" class="btn btn-default">← Trở về trang chủ</a>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="lineBottom2"></div>
  <ng-template #ChonHocSinh>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Chọn học sinh <span style="text-transform:none;">(click vào dòng để chọn học sinh)</span></h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table0">
            <thead>
              <tr>
                <td>
                  STT
                </td>
                <td>
                  Mã học sinh
                </td>
                <td>
                  Họ tên
                </td>
                <td>
                  Ngày sinh
                </td>
                <td>
                  Giới tính
                </td>
                <td>
                  Địa chỉ
                </td>
              </tr>
            </thead>
            <tbody>
            
              <tr *ngFor="let item of lstHocSinh; let i = index" (click)="chooseHocSinh(item)" style="cursor:pointer">
                <td>
                  {{i+1}}
                </td>
                <td>
                  {{item.MaHocSinh}}
                </td>
                <td>
                  {{item.TenHocSinh}}
                </td>
                <td>
                  {{item.NgaySinh | date:'dd/MM/yyyy'}}
                </td>
                <td *ngIf="item.GioiTinh==0">
                  Nữ
                </td>
                <td *ngIf="!item.GioiTinh==0">
                  Nam
                </td>
                <td>
                  {{item.DchiThtru}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



  </ng-template>

</div>
