@{
    ViewData["Title"] = "My Events";
    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
}

<link href="~/css/calendar/core.css" rel="stylesheet" />
<link href="~/css/calendar/daygrid.css" rel="stylesheet" />
<link href="~/css/calendar/list.css" rel="stylesheet" />
<link href="~/css/calendar/timegrid.css" rel="stylesheet" />
<link href="~/js/lib/datetimepicker/jq.datetimepicker.css" rel="stylesheet" />
<script src="~/js/lib/datetimepicker/php-date-formatter.min.js"></script>
<script src="~/js/lib/datetimepicker/jquery.mousewheel.js"></script>
<script src="~/js/lib/datetimepicker/jquery.datetimepicker.js"></script>


<script>
    setActiveMenu("calendar");
</script>

<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25">
            <h2 class="title">@ViewData["Title"]</h2>
        </div>
    </div>
    <div id="schedule" class="pl-3 pr-3"></div>
</section>

<style>
    #schedule {
        margin-top: 30px;
        height: calc(100vh - 135px);
    }

    .fc-day-header {
        height: 50px;
        line-height: 43px;
        border: solid 1px #CCC !important;
    }

    .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
        border-color: #D0DFE8;
    }

    .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
        float: left;
    }

    .fc-event, .fc-event-dot {
        background: none;
    }

    .fc-event {
        border: none;
    }

    .fc-time {
        color: #d05151
    }
</style>

@section Scripts{
    <script src="~/js/lib/schedule.js"></script>
    <script>
        var schedulex = new CalendarLib.Schedule($);
        schedulex.onLoad({
            type: "@User?.FindFirst("Type").Value",
            controller: 'Calendar',
            header: {},
            isDev:!0,
            defaultView: "dayGridMonth",
            height: document.getElementById("schedule").offsetHeight
        });
        $('#start-date').datetimepicker({
            formatTime: 'H:i',
            formatDate: 'd.m.Y',
            timepickerScrollbar: false
        });
        $('#end-date').datetimepicker({
            formatTime: 'H:i',
            formatDate: 'd.m.Y',
            timepickerScrollbar: false
        });
        var submitEvent = function () {
            schedulex.addEvent("scheduleForm");
        }
    </script>
}

@section Modals{
    <div id="calendarModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <form action="#" name="scheduleForm">
                        <input type="hidden" class="form-control" name="id" value="">
                        <label for="">Title :</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="">StartDate :</label>
                            <div class="input-group date">
                                <input type="text" name="StartDate" class="form-control datetimepicker-input" id="start-date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">End Date :</label>
                            <div class="input-group date">
                                <input type="text" name="EndDate" class="form-control datetimepicker-input" id="end-date" />
                            </div>
                        </div>
                        <label for="">Link :</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="url" placeholder="//link">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="submitEvent()" data-dismiss="modal">Thêm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="calendarModalView" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    @*<button type="button" class="edit"><span aria-hidden="true">edit</span> <span class="sr-only">edit</span></button>
                        <button type="button" class="delete"><span aria-hidden="true">delete</span> <span class="sr-only">delete</span></button>*@
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <div class="form-group form-inline">
                        <label for="start-date"> Bắt đầu : </label>
                        <b name="start-date"></b>
                    </div>b
                    <div class="form-group form-inline">
                        <label for="end-date">Kết thúc : </label>
                        <b name="end-date"></b>
                    </div>
                    <div class="form-group">
                        <label for="end-date">Link liên kết : </label>
                        <a href="#" name="link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}