<div>
  <div class="row control-box">
    <div class="col-lg-8">
      <div class="form-group search-box">
        <search-box (searchChange)="onSearchChanged($event)" placeholder="Tìm kiếm">></search-box>
      </div>
    </div>

  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>
            STT
          </td>
          <td>
        Bài học
          </td>
          <td>Ngày bắt đầu</td>
          <td>Ngày kết thúc</td>
          <td>Trạng thái</td>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of rows; let i = index" style="cursor:pointer">
          <td>
            {{i+1}}
          </td>
          <td>
         
            <a (click)="edit(item)">    {{item.title}}</a>
          </td>
          
          <td>{{item.createdDate  }} </td>
          <td>
            {{item.endedDate  }}
          </td>
          <td>
            {{item.isOpen==false?'Mở':"Đóng"}}

          </td>
        </tr>
      </tbody>
    </table>
  </div>




  <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-sm" style="max-width:1000px">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title float-left"><i class="fa fa-user-circle-o"></i>Đóng mở khóa học</h4>
          <button type="button" class="close float-right" title="Close" (click)="editorModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <course-config-edit #courseEditor></course-config-edit>
        </div>
      </div>
    </div>
  </div>

</div>




