@{
    ViewData["Title"] = "Bảng điều khiển - Ngày " + DateTime.Now.Day.ToString("D2") + " tháng " + DateTime.Now.Month.ToString("D2") + " năm " + DateTime.Now.Year.ToString("D2");
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<link href="~/css/calendar/core.css" rel="stylesheet" />
<link href="~/css/calendar/daygrid.css" rel="stylesheet" />
<link href="~/css/calendar/list.css" rel="stylesheet" />
<link href="~/css/calendar/timegrid.css" rel="stylesheet" />
<script>
    activeTab = "dashboard";
</script>
<div class="left-col">
    <div class="page-title row">
        <h1 class="col-md-6 col-sm-12">Bảng điều khiển: @User.Identity.Name</h1>
        <h2 class="col-md-6 text-right col-sm-12">
            @Html.Raw("Ngày " + DateTime.Now.Day.ToString("D2") + " tháng " + DateTime.Now.Month.ToString("D2") + " năm " + DateTime.Now.Year.ToString("D2"))
        </h2>
    </div>
    <div class="row m-0">
        <div class="main-container  col-md-10">
            <div class="active-region">
                <div class="block-title">
                    <h2>Lớp đang hoạt động</h2>
                </div>
                <table id="activeCourse" class="table" style="display:none" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th class="text-left">STT</th>
                            <th class="text-left">Tên lớp</th>
                            <th class="text-left">Môn học</th>
                            <th class="text-left">Cấp độ</th>
                            @*
                                <th>Giáo viên</th>*@
                            <th class="text-center">Học viên đăng ký</th>
                            <th class="text-center">Thời gian</th>
                            @*
                                <th>Trạng thái</th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="placeholderActive">
                    Đang nạp dữ liệu
                </div>
            </div>
            <div class="past-region" style="display: none">
                <div class="block-title">
                    <h2>Lớp đã kết thúc</h2>
                </div>
                <table id="pastCourse" class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th class="text-left">STT</th>
                            <th class="text-left">Tên lớp</th>
                            <th class="text-left">Môn học</th>
                            <th class="text-center">Học viên đăng ký</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Ngày kết thúc</th>
                            @*
                                <th>Trạng thái</th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2">
            <div id="schedule" class="pt-3"></div>
        </div>
    </div>
</div>
<div id="calendarModalView" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                @*<button type="button" class="edit"><span aria-hidden="true">edit</span> <span class="sr-only">edit</span></button>
                    <button type="button" class="delete"><span aria-hidden="true">delete</span> <span class="sr-only">delete</span></button>*@
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="form-group form-inline">
                    <label for="start-date"> Bắt đầu : </label>
                    <b name="start-date"></b>
                </div>
                <div class="form-group form-inline">
                    <label for="end-date">Kết thúc : </label>
                    <b name="end-date"></b>
                </div>
                <div class="form-group">
                    <label for="end-date">Link liên kết : </label>
                    <a href="#" name="link"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/lib/schedule-mini.js"></script>

<script>

    function LoadData() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetList", "Class")',
            data: { },
            dataType:"json",
            success: function (data) {
                var activeCourse = $('#activeCourse tbody');
                var pastCourse = $('#pastCourse tbody');
                activeCourse.html("");
                pastCourse.html("");
                var counter = 0;
                var pastcounter = 0;
                if (data.Data.length > 0)
                {
                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        //var active = "<td><button type='button' data-toggle='button' aria-pressed='true' autocomplete='off' class='btn btn-lg btn-toggle active btn-success' disabled> <div class='handle'></div> </button></td>";

                        var startdate = moment(item.StartDate).format('DD/MM/YYYY');
                        var enddate = moment(item.EndDate).format('DD/MM/YYYY');
                        var today = new Date();

                        var totalday = moment(item.EndDate).diff(moment(item.StartDate), 'days');
                        var completeday = moment(today).diff(moment(item.StartDate), 'days');
                        if(completeday > totalday) completeday = totalday;


                        var past = moment(today).diff(moment(item.EndDate), 'days') > 0;

                        var count = past ? ++pastcounter : ++counter;

                        var row =
                            "<tr>" +
                                "<td>" + count + "</td>" +
                                "<td><a href='@Url.Action("Detail", "Class")/" + item.ID + "'>" + item.Name + "</td>" +
                                "<td>" + item.SubjectName + "</td>" +
                                //"<td>" + item.GradeName + "</td>" +
                                "<td class='text-center'>" + item.Students.length + "</td>" +
                                "<td class='text-center'>" + Math.ceil(completeday/7) + "/" + Math.ceil(totalday/7)  + " tuần</td>" +
                                "<td class='text-center'>" + enddate +"</td>"+
                            "</tr>";
                        if (past) {
                            $('.past-region').show();
                             pastCourse.append(row);
                        }
                        else {
                            $('#activeCourse').show();
                            activeCourse.append(row);
                        }
                    }

                }
                if (counter === 0) {
                    $('#placeholderActive').empty().append($("<div>", {"class":"w-100 text-left p-3 mb-3","text":"Không có lớp"}));
                }
            },
            error: function() {
                alert("Error");
            }
        });
    };

    $(document).ready(function(){
        //LoadMyClass();
        //LoadTodayLesson();
        LoadData();
    });

       var schedulex = new CalendarLib.Schedule($);
        schedulex.onLoad({
            type: "@User?.FindFirst("Type").Value",
            controller: 'Calendar'
        });

</script>

<style>
    .fc-content {
        font-size: 9px;
        cursor: pointer;
    }

    .fc-center {
        font-size: 7px;
    }

    /*.fc-toolbar.fc-header-toolbar {
            margin-bottom: .5em;
        }*/

    .fc-toolbar .fc-button {
        /*padding: 0.2em;*/
        /*line-height: 1em;*/
    }

    .fc-dayGrid-view .fc-body .fc-row {
        min-height: 3em;
    }

    .fc-day-header {
        font-weight: normal;
        border: solid 1px #CCC !important;
        /*font-size: 11px;*/
    }

        .fc-day-header span {
            font-size: 11px;
        }

    .fc-day-top {
        text-align: right;
        padding-right: 3px !important;
    }

    .fc-button .fc-icon {
        font-size: 1em;
    }

    .fc-icon {
        height: 1em;
    }
</style>
