@{
    ViewData["Title"] = "Dashboard - " + DateTime.Now.ToString("D");
    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
}
<script>
    setActiveMenu("home");
</script>

<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25">
            <h2 class="title">Welcome to <font>EDUCOO</font></h2>
            <div class="search-box">
                <button><i class="ic ic-find"></i></button>
                <input type="text" name="" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="box mb-3">
            <div class="heading flex mb-2">
                <h4 class="box-head">Bài giảng tuần này</h4>
                <a href="@Url.Action("Index","Class")" title="Xem tất cả" class="link-all">Xem tất cả <i class="ti-arrow-right"></i></a>
            </div>
            <div class="box bg-1 padding-15">
                <ul class="box list-scroll">
                    <li>
                        <div class="box radius">
                            <div class="padding-15 inner">
                                <h4><i class="ic ic-headphone-o"></i>Listening</h4>
                                <a href="#" title="IELTS Preparation" class="title">IELTS Preparation</a>
                                <p><i class="ic ic-pickdate-r"></i>4/6 tuần</p>
                                <div class="c-bot">
                                    <p><i class="icofont icofont-user"></i>3 học viên</p>
                                    <p><i class="ti-time"></i>12/08/2019</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="box radius">
                            <div class="padding-15 inner">
                                <h4><i class="ic ic-readbook-o"></i>Listening</h4>
                                <a href="#" title="IELTS Preparation" class="title">IELTS Preparation</a>
                                <p><i class="ic ic-pickdate-r"></i>4/6 tuần</p>
                                <div class="c-bot">
                                    <p><i class="icofont icofont-user"></i>3 học viên</p>
                                    <p><i class="ti-time"></i>12/08/2019</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row margin-b20">
            <div class="col-md-6">
                <div class="box mb-3">
                    <div class="heading flex mb-2">
                        <h4 class="box-head">Khóa học đang diễn ra</h4>
                        <a href="#" title="Xem tất cả" class="link-all">Xem tất cả <i class="ti-arrow-right"></i></a>
                    </div>
                    <div class="box bg-1 padding-15 height-245">
                        <ul class="box list-scroll">
                            <li>
                                <div class="box radius">
                                    <div class="thumb">
                                        <img src="/pictures/ielts1.png" alt="">
                                    </div>
                                    <div class="padding-15 inner">
                                        <a href="#" title="IELTS Preparation" class="title">IELTS Preparation</a>
                                        <p><i class="ic ic-pickdate-r"></i>4/6 tuần</p>
                                        <div class="c-bot">
                                            <p><i class="icofont icofont-user"></i>3 học viên</p>
                                            <p><i class="ti-time"></i>12/08/2019</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="box radius">
                                    <div class="thumb">
                                        <img src="/pictures/ielts1.png" alt="">
                                    </div>
                                    <div class="padding-15 inner">
                                        <a href="#" title="IELTS Preparation" class="title">IELTS Preparation</a>
                                        <p><i class="ic ic-pickdate-r"></i>4/6 tuần</p>
                                        <div class="c-bot">
                                            <p><i class="icofont icofont-user"></i>3 học viên</p>
                                            <p><i class="ti-time"></i>12/08/2019</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box mb-3">
                    <div class="heading flex mb-2">
                        <h4 class="box-head">Thảo luận</h4>
                        <a href="/discussion.html" title="Xem tất cả" class="link-all">Xem tất cả <i class="ti-arrow-right"></i></a>
                    </div>
                    <div class="box bg-1 padding-15 height-245">
                        <ul class="list-discus">
                            <li v-for="(item,k) in discussion">
                                <div class="flex c-top">
                                    <a href="discussion_detail.html" :title="item.title" class="title">{{item.title}}</a>
                                    <div class="c-right"><i class="icofont icofont-user"></i>{{item.member + ' members'}}</div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="module">
            <div class="row">
                <div class="col-md-12 margin-b20">
                    <div class="heading flex">
                        <h4 class="box-head">Khóa học đã kết thúc</h4>
                        <a href="#" title="Xem tất cả" class="link-all">Xem tất cả <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <ul class="row">
                <li class="col-md-4 less-done list" v-for="(item,k) in Lesson_done">
                    <div class="box radius">
                        <a href="#" class="flex">
                            <span class="per checked"><i class="ic ic-checked"></i></span>
                            <div class="info">
                                <span>{{item.title}}</span>
                                <span>{{item.date}}</span>
                            </div>
                            <span class="arr-right ti-arrow-right"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>

@section Scripts{
    <script>
    new Vue({
        el: ".module",
		mounted(){
            // khởi tạo dữ liệu khi load Trang
            // chỗ này sẽ chạy lúc đầu khi vào trang
            this.getLessonWeek()
            this.getLessonDone()
            this.getLessonDay()
            this.getNews()
		},
        data: {
            Lesson_week : [
                {
                    Lesson : 'Lesson 1',
                    title : 'IELTS Practice',
                    date : '12/08/2019 ',
                    score : 2,
                    total_scrore : 5,
                    per : '70'
                },
                {
                    Lesson : 'Lesson 2',
                    title : 'IELTS Practice',
                    date : '12/08/2019 ',
                    score : 3,
                    total_scrore : 5,
                    per : '40'
                },
                {
                    Lesson : 'Thì hiện tại tiếp diễn',
                    title : 'Ngữ pháp A2',
                    date : '12/08/2019 ',
                    score : 4.5,
                    total_scrore : 5,
                    per : '45'
                }
            ],
            Lesson_day : [
                {
                    Lesson : 'Lesson 1',
                    title : 'IELTS Practice',
                    date : '12/08/2019 ',
                    score : 4.5,
                    total_scrore : 5,
                    per : '70'
                },
                {
                    Lesson : 'Lesson 2',
                    title : 'IELTS Practice',
                    date : '12/08/2019 ',
                    score : 4.5,
                    total_scrore : 5,
                    per : '70'
                },
                {
                    Lesson : 'Thì hiện tại tiếp diễn',
                    title : 'Ngữ pháp A2',
                    date : '12/08/2019 ',
                    score : 4.5,
                    total_scrore : 5,
                    per : '70'
                }
            ],
            discussion : [
                {
                    title : 'IELTS 5.0',
                    member : 3,
                    description : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.'
                },
                {
                    title : 'IELTS 5.1',
                    member : 12,
                    description : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.'
                }
            ],
            Lesson_done : [
                {
                    title : 'IELTS Practice',
                    score : 7,
                    per : 90,
                    date : '12/08/2019'
                },
                {
                    title : 'Destination',
                    score : 8,
                    per : 70,
                    date : '12/08/2019'
                },
                {
                    title : 'Destination',
                    score : 5,
                    per : 50,
                    date : '12/08/2019'
                }
            ],
            list_news : [
                {
                    title : 'Đã đến lúc HLV Park',
                    description : 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                    thumbnail : '/pictures/news1.png'
                },
                {
                    title : 'HLV Park: Có khi p',
                    description : 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                    thumbnail : '/pictures/news2.png'
                },
                {
                    title : 'Tiến Dũng và Văn Toả',
                    description : 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                    thumbnail : '/pictures/news3.png'
                }
            ],
            week : ''
        },
        watch : {
            Lesson_week : function(val){
                console.log(val)
            }
        },
        methods: {
            getLessonWeek(){
                let _that = this
                // Truyen param vào đây
                let _params = {
                    week : _that.week
                }
                // link api để gọi
                // Nếu method là GET
                // let _url = 'apiGetLessonWeek'
                // axios.get(_url,{params:_params})
                //     .then(response =>{
                //         console.log(response.data)
                //         // sửa lại theo format mà api cụ thể trả về (chỗ này chỉ là demo)
                //         if(response.data.succes){
                //             // Gán dữ liệu vào biến đã khởi tạo nó sẽ render ra ở view
                //             _that.Lesson_week = response.data.data
                //         }else{
                //             // xử lý lỗi
                //         }
                //     }).catch(e =>{})
                    // Nếu là POST
                    // nếu ko đc thì phải dùng FormData @@
                // axios.post(_url,_params)
                //     .then(response =>{
                //         console.log(response.data)
                //         if(response.data.succes){
                //             _that.Lesson_week = response.data.data
                //         }else{
                //             //
                //         }
                //     }).catch(e =>{})
            },
            getLessonDone(){
                // tương tự như trên
            },
            getLessonDay(){
                // tương tự như trên
            },
            getNews(){
                // tương tự như trên
            },
        }
    });
    </script>
}