@using BaseMVC.Models
@using BaseMongoDB.Database;
@{
    Layout = "~/Views/Shared/_LayoutDefaults.cshtml";
    var model = ViewBag.Model as DefaultModel;
    var data = ViewBag.Data as CPResourceEntity;
    if (data == null || string.IsNullOrEmpty(model.ID)) { return; }
    string ID = model != null ? model.ID : string.Empty;
}

<div class="card">
    <div class="card-header card-header-icon">
        <h4 class="card-title">
           <a href="@Url.Action("Index")" class="btn btn-sm btn-fab btn-danger"><i class="material-icons">reply</i></a>
            <a href="javascript:void(0)" onclick="excute('edit')" class="btn btn-sm btn-success pull-right"><i class="material-icons">save</i> Save</a>
        </h4>

    </div>
    <div class="card-body">
        <form name="myform" asp-action="Create" asp-controller="Roles" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" id="ID" name="ID" value="@ID" />
            <input type="hidden" id="ctrl" value="CPResource" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Tên :</label>
                        <input type="text" name="Name" value="@data.Name" class="text-light form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Giá trị :</label>
                        <input type="text" name="Value" value="@data.Value" class="text-light form-control">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>