@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var Data = ViewBag.Data as BaseCustomerEntity.Database.LessonEntity;
    var Class = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
}
<!-- Page Heading -->
<span class="number quizNumber" onclick="openNav()"><span class="completed">0</span> / <span class="total">0</span></span>
<div id="lessonContainer">
</div>

<input type="hidden" id="LessonID" value="@Data.ID" />
<input type="hidden" id="ClassID" value="@Class.ID" />

<script>
    $(document).ready(function () {
        load.lesson($("#LessonID").val(), $("#ClassID").val());
    });
</script>
@section Script{
<script src="~/js/student-exam.js"></script>
}
