<div>
    <p><span>Anh/chị có thể tra kết quả tuyển sinh của hồ sơ đã đăng ký dự tuyển theo các bước sau:.</span></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 1</span><span class="font-wight-400">: Truy cập vào hệ thống, Bấm chọn </span><span class="font-wight-400 red">Tra cứu kết quả </span><span class="font-wight-400">trên màn hình trang chủ</span></p>
    <p><img class="fullwidth" [src]="home"></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 2</span><span class="font-wight-400">: Tại màn hình </span><span class="font-wight-400 red">Tra cứu thông tin hồ sơ</span><span class="font-wight-400">, anh/chị vui lòng nhập thông tin:</span></p><p><span class="font-wight-400">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Nhập </span><span class="font-wight-400 red">Mã hồ sơ đăng ký tuyển sinh</span></p><p><span class="font-wight-400">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Nhập </span><span class="font-wight-400 red">Mã xác nhận</span></p><p><span class="font-wight-400">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Bấm nút </span><span class="font-wight-400 red">Tra cứu</span></p>
    <p><img class="fullwidth" [src]="tracuu"></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 3</span><span class="font-wight-400">: Hệ thống hiển thị kết quả hồ sơ đăng ký dự tuyển</span></p>
    <p><img class="fullwidth" [src]="kq"></p>
</div>
