<div>
    <p><span>Anh/chị có thể tra cứu thông tin tuyển sinh của các trường trên địa bàn tỉnh/thành phố theo các bước sau:</span></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 1</span><span class="font-wight-400">: Truy cập vào hệ thống, Bấm chọn </span><span class="font-wight-400 red">Thông tin tuyển sinh</span><span class="font-wight-400"> trên màn hình trang chủ</span></p>
    <p><img class="fullwidth" [src]="home"></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 2</span><span class="font-wight-400">: Tại màn hình </span><span class="font-wight-400 red">Tra cứu thông tin tuyển sinh</span><span class="font-wight-400">, anh/chị vui lòng nhập thông tin:</span></p><p><span class="font-wight-400">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Chọn </span><span class="font-wight-400 red">Cấp tuyển sinh</span></p><p><span class="font-wight-400">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Chọn </span><span class="font-wight-400 red">Năm học</span></p><p><span class="font-wight-400">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Chọn </span><span class="font-wight-400 red">Quận huyện</span></p><p><span class="font-wight-400">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Bấm nút </span><span class="font-wight-400 red">Tra cứu</span></p>
    <p><img class="fullwidth" [src]="tracuu"></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 3</span><span class="font-wight-400">: Hệ thống hiển thị danh sách các trường theo cấp học, quận huyện đã chọn, anh/chị bấm vào trường cần xem thông tin</span></p>
    <p><img class="fullwidth" [src]="danhsach"></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 4</span><span class="font-wight-400">: Hệ thống hiển thị thông tin tuyển sinh của trường cần xem</span></p>
    <p><img class="fullwidth" [src]="chitiet"></p>
</div>
