<div class="col-md-12">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a  routerLink="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Hướng dẫn</li>
  </ul>
</div>
<div class="container">
  <div class="row" id="rowin">
    <div class="col-sm-4">
      <div class="v-menu-box p-25">
        <h4 class="text-uppercase"><b>Hướng dẫn</b></h4>
        <div class="v-menu">
          Công dân sử dụng dịch vụ tuyển sinh trực tuyến
          <ul class="p-t-10">
            <li>
              <a (click)="changeLink(1)">Tra cứu trường đúng tuyến</a>
            </li>
            <li>
              <a  (click)="changeLink(2)">Tra cứu thông tin tuyển sinh</a>
            </li>
            <li>
              <a  (click)="changeLink(3)">Đăng ký tuyển sinh</a>
            </li>
            <li>
              <a  (click)="changeLink(4)">Tra cứu kết quả</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="head-hd text-bold">{{Header}}</h3>
      <div class="main-body">
        <div *ngIf="Type == '1'"><hd-tra-cuu-dung-tuyen></hd-tra-cuu-dung-tuyen></div>
        <div *ngIf="Type == '2'"><hd-tra-cuu-tt-tuyen-sinh></hd-tra-cuu-tt-tuyen-sinh></div>
        <div *ngIf="Type == '3'"><hd-dang-ky-tuyen-sinh></hd-dang-ky-tuyen-sinh></div>
        <div *ngIf="Type == '4'"><hd-tra-cuu-ket-qua></hd-tra-cuu-ket-qua></div>
      </div>
    </div>
  </div>
</div>
