
@{
    Layout = "~/Views/Shared/_LayoutDefaults.cshtml";
}

<div class="card">
    <div class="card-header card-header-icon">
        <h4 class="card-title">
           <a href="@Url.Action("Index")" class="btn btn-sm btn-fab btn-danger"><i class="material-icons">reply</i></a>
            <a href="javascript:void(0)" onclick="execute('create')" class="btn btn-sm btn-success pull-right"><i class="material-icons">save</i> Save</a>
        </h4>

    </div>
    <div class="card-body">
        <form name="myform" asp-action="Create" asp-controller="CPTemplate" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" id="ArrID" name="ArrID" value="" />
            <input type="hidden" id="ctrl" value="CPTemplate" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Tên:</label>
                        <input type="text" name="Name" class="text-light form-control">
                    </div>
                    <div class="form-group">
                        <label class="bmd-label-floating">File:</label>
                        <input type="text" name="File" class="text-light form-control">
                    </div>
                    <div class="form-group">
                        <label class="bmd-label-floating">Template:</label>
                        <textarea rows="50" class="text-light form-control html-code" name="Html"></textarea>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var regexTag = /(\<\w +\>|\<\/\w+\>|\<\w+\/>)/g;
    var htmlCode = document.querySelector(".html-code");
    if (htmlCode != null) {
        htmlCode.addEventListener("keyup", function () {
            var content = this.value;
            var taghtml = content.match(regexTag);
            if (taghtml != null)
            console.log(taghtml);
        });
    }
</script>