@{
    ViewData["Title"] = "My Events";
    Layout = "~/Views/Shared/_LayoutStudent_NewUI.cshtml";
}

<link href="~/css/calendar/core.css" rel="stylesheet" />
<link href="~/css/calendar/daygrid.css" rel="stylesheet" />
<link href="~/css/calendar/list.css" rel="stylesheet" />
<link href="~/css/calendar/timegrid.css" rel="stylesheet" />
<link href="~/js/lib/datetimepicker/jq.datetimepicker.css" rel="stylesheet" />
<script src="~/js/lib/datetimepicker/php-date-formatter.min.js"></script>
<script src="~/js/lib/datetimepicker/jquery.mousewheel.js"></script>
<script src="~/js/lib/datetimepicker/jquery.datetimepicker.js"></script>
@*longht add 2020-01-12*@
<link href="~/js/calendar/css/sweetalert.css" rel="stylesheet" />
<link href="~/js/calendar/css/style.css" rel="stylesheet" />

<script>
    setActiveMenu("calendar");
</script>

<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25">
            <h2 class="title">@ViewData["Title"]</h2>
        </div>
    </div>
    <div id="schedule" class="pl-3 pr-3"></div>
</section>


@section Scripts{
    @*longht add 2020-01-12*@
    <script src="~/js/calendar/js/jquery.timepicker.min.js"></script>
    <script src="~/js/calendar/js/sweetalert.min.js"></script>
    <script src="~/js/lib/schedule.js"></script>
    <script src="~/js/calendar/js/Calendar.js"></script>
    <div id="skype-event" class="skype-event">

    </div>
    <div class="form-event" id="form-event">
        <div class="header-form-event">Sự kiện</div>
        <div class="body-form-event">
            <div class="item-event">
                <label for="Title">Tiêu đề</label>
                <input type="text" name="Title" class="form-control" placeholder="Nhập tiêu đề">
            </div>
            <div class="item-event">
                <label for="Thời gian">Thời gian</label>
                <div class="group-input-event">
                    <input type="text" name="Time" class="form-control timepicker" placeholder="Nhập giờ">
                    <input style="margin-left:5px;" type="date" value="" name="Date" class="form-control" placeholder="Nhập tiêu đề">
                </div>
            </div>
            <div class="item-event">
                <label for="Content">Nội dung</label>
                <textarea name="Content" id="Content" style="resize: none;" class="form-control"></textarea>
            </div>
        </div>
        <div class="footer-form-event">
            <button class="btn btn-primary btn-save-event" id="btn-save-event">Lưu</button>
            <button class="btn btn-o btn-cancel-event" id="btn-cancel-event">Hủy</button>
        </div>
    </div>
    <div id="dark-smooke" class="dark-smooke"></div>
    <script src="js/Calendar.js"></script>
    <script>
        var EduCalendar = new EduCalendar();
        EduCalendar.useEduTemplate().loadConfig({
            url: "@Url.Action("GetList","Calendar")",
            type: "teacher",
            isDev: !1,
            height: "parent",
            eventClick: function (info) {
                var eventInfo = info.event;
                var startDate = eventInfo.start;
                var title = eventInfo.title;
                var content = eventInfo.extendedProps.content;
                var timeEvent = changeTime(startDate);
                var dateEvent = `${startDate.getFullYear()}-${startDate.getMonth() + 1}-${startDate.getDate()}`;
                document.body.classList.add("open-add-event");
                EduCalendar.schedule.Ajax.PostAny("@Url.Action("GetDetail","Calendar")", JSON.stringify({ id=eventInfo.id })).then(function (data) {
                    console.log(data);
                })

                if (eventInfo.extendedProps != null && eventInfo.extendedProps.skype != void 0) {
                    //chạy ajax get event
                } else {
                    var formEvent = document.getElementById("form-event");
                    var bodyEvent = formEvent.querySelector(".body-form-event");
                    if (bodyEvent != null) {
                        var Title = bodyEvent.querySelector("input[name='Title']");
                        if (Title != null) {
                            Title.value = title;
                        }
                        var Content = bodyEvent.querySelector("textarea[name='Content']");
                        if (Content != null) {
                            Content.value = eventInfo.extendedProps.content != void 0
                                ? content
                                : "";
                        }
                        var time = bodyEvent.querySelector("input[name='Time']");
                        if (time != null) {
                            time.value = timeEvent;
                        }
                        var date = bodyEvent.querySelector("input[name='Date']");
                        if (date != null) {
                            date.value = dateEvent;
                        }
                    }
                }
            }
        }).renderCalendar();
        var changeTime = function (date) {
            var hours = date.getHours();
            var minute = date.getMinutes();
            if (hours >= 10) {
                if (hours > 12) {
                    var strPhut = minute >= 10 ? minute : `0${minute}`;
                    return `${hours}:${strPhut} PM`;
                }
                else {
                    var strPhut = minute >= 10 ? minute : `0${minute}`;
                    return `${hours}:${strPhut} AM`;
                }
            } else {
                var strPhut = minute >= 10 ? minute : `0${minute}`;
                return `0${hours}:${strPhut} AM`;
            }
        }
    </script>
    <script>
        var formEvent = document.getElementById("form-event");
        document.getElementById("btn-cancel-event").onclick = function () {
            swal({
                title: "Bạn muốn hủy thông tin trên?",
                text: "Dữ liệu bạn đã ghi sẽ bị mất !!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Hủy",
                closeOnConfirm: false
            },
                function () {
                    var inputs = formEvent.querySelectorAll("input");
                    var textarea = formEvent.querySelector("textarea");
                    for (var i = 0; i < inputs.length; i++) {
                        var input = inputs[i];
                        input.value = "";
                    }
                    textarea.value = "";
                    document.body.classList.remove("open-add-event");
                    swal("Hủy!", "Đã hủy thành công.", "success");
                });
        }
        document.getElementById("btn-save-event").onclick = function () {

        }

        if ($ != void 0 && $('.timepicker') != void 0) {
            $('.timepicker').timepicker({
                timeFormat: 'HH:mm p',
                interval: 15,
                minTime: '0',
                maxTime: '11:00pm',
                defaultTime: '9',
                startTime: '01:00',
                dynamic: false,
                dropdown: true,
                scrollbar: false
            });
        }
    </script>
    <script>

    </script>
}

@section Modals{
    <div id="calendarModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <form action="#" name="scheduleForm">
                        <input type="hidden" class="form-control" name="id" value="">
                        <label for="">Title :</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="">StartDate :</label>
                            <div class="input-group date">
                                <input type="text" name="StartDate" class="form-control datetimepicker-input" id="start-date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">End Date :</label>
                            <div class="input-group date">
                                <input type="text" name="EndDate" class="form-control datetimepicker-input" id="end-date" />
                            </div>
                        </div>
                        <label for="">Link :</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="url" placeholder="//link">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="submitEvent()" data-dismiss="modal">Thêm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="calendarModalView" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    @*<button type="button" class="edit"><span aria-hidden="true">edit</span> <span class="sr-only">edit</span></button>
                        <button type="button" class="delete"><span aria-hidden="true">delete</span> <span class="sr-only">delete</span></button>*@
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <div class="form-group form-inline">
                        <label for="start-date"> Bắt đầu : </label>
                        <b name="start-date"></b>
                    </div>b
                    <div class="form-group form-inline">
                        <label for="end-date">Kết thúc : </label>
                        <b name="end-date"></b>
                    </div>
                    <div class="form-group">
                        <label for="end-date">Link liên kết : </label>
                        <a href="#" name="link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}