@{
    ViewData["Title"] = "My Events";
    Layout = "~/Views/Shared/_LayoutStudent_NewUI.cshtml";
}

<link href="~/css/calendar/core.css" rel="stylesheet" />
<link href="~/css/calendar/daygrid.css" rel="stylesheet" />
<link href="~/css/calendar/list.css" rel="stylesheet" />
<link href="~/css/calendar/timegrid.css" rel="stylesheet" />
<link href="~/js/lib/datetimepicker/jq.datetimepicker.css" rel="stylesheet" />
<script src="~/js/lib/datetimepicker/php-date-formatter.min.js"></script>
<script src="~/js/lib/datetimepicker/jquery.mousewheel.js"></script>
<script src="~/js/lib/datetimepicker/jquery.datetimepicker.js"></script>


<script>
    setActiveMenu("calendar");
</script>

<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25">
            <h2 class="title">@ViewData["Title"]</h2>
        </div>
    </div>
    <div id="schedule" class="pl-3 pr-3"></div>
</section>

<style>
    #schedule {
        margin-top: 30px;
        height: calc(100vh - 135px);
    }

    .fc-day-header {
        height: 50px;
        line-height: 43px;
        border: solid 1px #CCC !important;
    }

    .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
        border-color: #D0DFE8;
    }

    .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
        float: left;
    }

    .fc-event, .fc-event-dot {
        background: none;
    }

    .fc-event {
        border: none;
    }

    .fc-time {
        color: #d05151
    }
</style>

@section scripts{ 
    <script src="~/js/lib/schedule.js"></script>
    <script src="~/js/lib/Calendar.js"></script>
    <script>
        var EduCalendar = new EduCalendar();
        EduCalendar.useEduTemplate().loadConfig({
            url:"/EndUser/data/events.json",
            type:"student",
            isDev:!1,
            height:"parent",
            eventRender:function(info){
              console.log(info.el,info.event.extendedProps);
            }
        }).renderCalendar();
    </script>
}