@{
    ViewData["Title"] = "My Events";
    Layout = "~/Views/Shared/_LayoutStudent_NewUI.cshtml";
}

<link href="~/css/calendar/core.css" rel="stylesheet" />
<link href="~/css/calendar/daygrid.css" rel="stylesheet" />
<link href="~/css/calendar/list.css" rel="stylesheet" />
<link href="~/css/calendar/timegrid.css" rel="stylesheet" />
<link href="~/js/lib/datetimepicker/jq.datetimepicker.css" rel="stylesheet" />
<script src="~/js/lib/datetimepicker/php-date-formatter.min.js"></script>
<script src="~/js/lib/datetimepicker/jquery.mousewheel.js"></script>
<script src="~/js/lib/datetimepicker/jquery.datetimepicker.js"></script>
@*longht add 2020-01-12*@
<link href="~/js/calendar/css/sweetalert.css" rel="stylesheet" />
<link href="~/js/calendar/css/style.css" rel="stylesheet" />

<script>
    setActiveMenu("calendar");
</script>

<section class="module" id="dashboard_content">
    <div class="card-header">
    </div>
    <div id="schedule" class="pl-3 pr-3"></div>
</section>
<div id="skype-event" class="skype-event">

<style>
    #schedule {
        margin-top: 30px;
        height: calc(100vh - 135px);
    }

    .fc-toolbar.fc-header-toolbar {
        display: none;
    }

    .fc-day-header {
        height: 50px;
        line-height: 43px;
        border: solid 1px #CCC !important;
    }

    .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
        border-color: #D0DFE8;
    }

    .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
        float: left;
    }

    .fc-event, .fc-event-dot {
        background: none;
    }

    .fc-event {
        border: none;
    }

    .fc-time {
        color: #d05151
    }
</style>

@section Scripts{
    <script src="~/js/lib/schedule.js"></script>
    <script>
        var schedulex = new CalendarLib.Schedule($);
        schedulex.onLoad({
            type: "@User?.FindFirst("Type").Value",
            controller: 'Calendar',
            header: {},
            isDev:!0,
            defaultView: "dayGridMonth",
            height: document.getElementById("schedule").offsetHeight
        });
        $('#start-date').datetimepicker({
            formatTime: 'H:i',
            formatDate: 'd.m.Y',
            timepickerScrollbar: false
        });
        $('#end-date').datetimepicker({
            formatTime: 'H:i',
            formatDate: 'd.m.Y',
            timepickerScrollbar: false
        });
        var submitEvent = function () {
            schedulex.addEvent("scheduleForm");
        }
    </script>
    <script>

    </script>
}
