
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Bài kiểm tra số 1 - Danh sách học viên</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Họ và tên</th>
                        <th>Ngày tháng năm sinh</th>
                        <th>Lớp</th>
                        <th>Tình trạng bài thi</th>
                        <th>Ngày thi</th>
                        <th>Điểm thi</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="@Url.Action("checkteacherstudent" , "calendar")">Hoàng Anh Tuấn</a></td>
                        <td>2011/04/25</td>
                        <td>HV001</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>2011/04/25</td>
                        <td>30 / 100</td>
                        <td>Đã hoàn thành</td>
                    </tr>
                    <tr>
                        <td>Hoàng Thái Long</td>
                        <td>2011/04/25</td>
                        <td>HV001</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>2011/04/25</td>
                        <td>60 / 100</td>
                        <td>Đã hoàn thành</td>
                    </tr>
                    <tr>
                        <td>Phạm Tuấn Anh</td>
                        <td>2011/04/25</td>
                        <td>HV001</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>2011/04/25</td>
                        <td>50 / 100</td>
                        <td>Đã hoàn thành</td>
                    </tr>
                    <tr>
                        <td>Nguyễn Tuấn Anh</td>
                        <td>2011/04/25</td>
                        <td>HV001</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>2011/04/25</td>
                        <td>0 / 100</td>
                        <td>Đang làm bài</td>
                    </tr>
                    <tr>
                        <td>Nguyễn Đức Nam</td>
                        <td>2011/04/25</td>
                        <td>HV001</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>2011/04/25</td>
                        <td>80 / 100</td>
                        <td>Đã hoàn thành</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>