
@{
    var category = ViewBag.Category as BaseCustomerEntity.Database.NewsCategoryEntity;
    var firstPage = ViewBag.FirstPage as List<BaseCustomerEntity.Database.NewsEntity>;
    var initTotalRec = (double)ViewBag.TotalRec;
    ViewData["Title"] = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/js/minify/common.min.js?20200604"></script>
<script src="~/js/minify/common.lib.min.js?20200604"></script>

<script>
    if($('.nav-link [for=@category.Code]').length > 0)
        $('.nav-link [for=@category.Code]').addClass('active');
    else
        $('.nav-link [for=news]').addClass('active');
</script>
<style>
    .news-item {
        border: none;
    }
</style>
<div class="category-box pt-5 pb-5">
        <div class="inner-content">
            <div class="content-box">
                <div class="box-title d-flex justify-content-center mb-5">
                    @category.Name
                    <div class="underline"></div>
                </div>
                <template v-if="tableData != null">
                    <div class="news-list flex-md-row pb-3">
                        <div v-for="(item,k) in tableData" class="news-item pb-3 pt-3 d-flex">
                            <div class="thumb " style="width:216px;height:122px;text-align:center">
                                <a :href="'/tin-tuc/@category.Code/' + item.Code">
                                    <img :src="''+item.Thumbnail" style="max-width:100%;max-height:100%;text-align:center" />
                                </a>
                            </div>
                            <div class="ml-3 media-body">
                                <div class="news-title">
                                    <a :href="'/tin-tuc/@category.Code/' + item.Code">
                                        {{item.Title}}
                                    </a>
                                </div>
                                <div class="news-desc">
                                    {{item.Summary}}
                                </div>
                                <div class="news-time">
                                    {{moment(String(item.PublishDate)).format('MM-DD-YYYY')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="news-list flex-md-row pb-3" style="text-align:center">
                        <h2>Chưa có tin mới, vui lòng quay lại sau.</h2>
                        </div>
                </template>
            </div>
        </div>

                <div class="page-control d-flex justify-content-lg-center">
                    <b-pagination v-model="page"
                                  :total-rows="totalRec"
                                  :per-page="view"
                                  v-on:input="getData()"></b-pagination>
    </div>
</div>
@section Scripts{
    <script>
        new Vue({
            el: ".category-box",
            mounted() {
                this.getData();
            },
            data: {
                isLoading: false,
                catID: '@category.ID',
                //tableData: @Html.Raw(Json.Serialize(firstPage)),
                tableData: [],
                view: 12,
                totalRec: @initTotalRec,
                page: 1
            },
            methods: {
                getData() {
                    let _that = this
                    let _form = new FormData()
                    _form.append('catID', _that.catID)
                    _form.append('PageSize', _that.view)
                    _form.append('PageIndex', _that.page)
                    _form.append('SearchText', _that.searchTerm)
                    let _url = '@Url.Action("GetList", "News")'
                    axios.post(_url, _form)
                        .then(response => {
                            _that.tableData = response.data.Data;
                            this.tableData = _that.tableData
                            if (this.tableData.length == 1) {
                                window.location.href = window.location.href + "/" + this.tableData[0].Code
                            }
                            this.totalRec = response.data.Model.totalRecord
                            console.log(totalRec)
                        }).catch(e => { })
                },
            }
        });
    </script>
}
