
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="category-box pt-5 pb-5">
    <div class="inner-content">
        <div class="content-box">
            <div class="box-title d-flex justify-content-center mb-5">
                {{mainTitle}}
                <div class="underline"></div>
            </div>
            <div class="news-list d-flex flex-column flex-md-row pt-3" style="border-top:solid 0.5px #CCC">
                <div class="news-hot media-body pr-md-4" style="border-right:solid 0.5px #CCC">
                    <div class="news-item w-100 pb-3">
                        <div class="thumb w-100 pb-2">
                            <a href="@Url.RouteUrl("news-about-us")">
                                <img src="~/images/news1.png" class="w-100" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="#">
                                Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                            </a>
                        </div>
                        <div class="news-desc">
                            Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                        </div>
                        <div class="news-time">
                            12/08/2019
                        </div>
                    </div>
                    <div class="news-item w-100 pb-3 pt-3">
                        <div class="thumb w-100 pb-2">
                            <a href="#">
                                <img src="~/images/news2.png" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="#">
                                Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                            </a>
                        </div>
                        <div class="news-desc">
                            Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                        </div>
                        <div class="news-time">
                            12/08/2019
                        </div>
                    </div>
                </div>
                <div class="news-top  media-body pl-md-4">
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news3.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news4.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news5.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news6.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news7.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.nav-link [for=news]').addClass('active');
</script>

@section Scripts{
    <script>
        new Vue({
            el: ".category-box",
            mounted() {
            },
            data: {
                mainTitle: 'Tin tức',
                catID: '0',
                listnews: []
            },
            methods: {
            }
        });
    </script>
}
