<div class="app-component app-container">
  <ngx-toasta></ngx-toasta>
  <nav id="header" class="app-component navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <button type="button" class="app-component navbar-toggler" data-toggle="collapse" data-target=".menuItemsContainer.app-component">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="isUserLoggedIn" class="app-component collapse navbar-collapse menuItemsContainer">
        <ul class="app-component nav nav-pills flex-column flex-lg-row mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink=""><i class="fa fa-home"></i></a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="canViewCustomers">
            <a class="nav-link" routerLink="/customers">{{'mainMenu.Customers' | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="canViewProducts">
            <a class="nav-link" routerLink="/products">{{'mainMenu.Products' | translate}}</a>
          </li>
          <!--<li class="nav-item" routerLinkActive="active" *ngIf="canViewOrders">
            <a class="nav-link" routerLink="/orders">{{'mainMenu.Orders' | translate}}</a>
          </li>-->
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/users">Quản lý tài khoản</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/teacher-manager">Quản lý giáo viên</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/student-manager">Quản lý sinh viên</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about3">Quản lý khóa học</a>
          </li>
        </ul>
        <ul class="app-component nav nav-pills flex-column flex-lg-row mr-md-2">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/settings"><i class="fa fa-cog"></i></a>
          </li>
        </ul>
        <span class="app-component navbar-text notifications-popup">{{'app.Welcome' | translate}}</span>
        <a class="app-component nav-link user-name d-inline-block px-1" [popover]="popTemplate"  placement="bottom"  href="javascript:;" triggers="focus">
          {{userName}}
          <!--<span *ngIf="newNotificationCount > 0" class="badge badge-pill badge-secondary">{{newNotificationCount}}</span>-->
        </a>
        <ng-template #popTemplate>
          <notifications-viewer [isViewOnly]="true"></notifications-viewer>
        </ng-template>
        <span class="app-component navbar-text">, </span>
        <ul class="app-component nav nav-pills ml-lg-2 flex-column flex-lg-row">
          <li class="nav-item" (click)="logout()">
            <a class="nav-link" href="javascript:;"><i class="fa fa-sign-out"></i> {{'mainMenu.Logout' | translate}}</a>
          </li>
        </ul>
      </div>
      <div *ngIf="!isUserLoggedIn && router.isActive('/about', false)" class="app-component collapse navbar-collapse menuItemsContainer">
        <ul class="app-component nav nav-pills flex-column flex-lg-row ml-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/login"><i class="fa fa-sign-in"></i></a>
          </li>
        </ul>
      </div>
      <div *ngIf="!isUserLoggedIn && !router.isActive('/about', false) || false" class="app-component collapse navbar-collapse menuItemsContainer">
        <ul class="app-component nav nav-pills flex-column flex-lg-row ml-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about"><i class="fa fa-info-circle"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="app-component container">
    <router-outlet></router-outlet>
    <div class="app-component footer-height"></div>
  </main>
  <footer class="app-component footer fixed-bottom">
    <div class="container">
     
    </div>
  </footer>
</div>
