@{
    ViewData["Title"] = "News - " + DateTime.Now.ToString("D");
    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
}
<script>
    setActiveMenu("news");
</script>

<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25 j-between">
            <div class="tab">
                <ul class="flex">
                    <li v-bind:class="{active : tab1}"><a href="javascript:;" title="Quảng cáo" v-on:click="tabChange()">Quảng cáo</a></li>
                    <li v-bind:class="{active : tab2}"><a href="javascript:;" title="Thông báo chung" v-on:click="tabChange(1)">Thông báo chung</a></li>
                    <li v-bind:class="{active : tab3}"><a href="javascript:;" title="Phương pháp học tập" v-on:click="tabChange(2)">Phương pháp học tập</a></li>
                </ul>
            </div>
            <div class="search-box">
                <button><i class="ic ic-find"></i></button>
                <input type="text" name="" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="card-body">
        <article class="" v-if="tab1">
            <div class="row ls-news">
                <div class="col-md-3">
                    <div class="inner">
                        <a href="#" title="" class="title">
                            <img src="/pictures/news_11.png" alt="">
                            <span>Cả nước chuẩn bị cho trận chung kết bóng...</span>
                        </a>
                        <div class="entry">
                            <p>Trên cả nước, những màn hình cỡ lớn đã được lắp đặt ...</p>
                            <div class="c-bot">
                                <span class="time"><i class="ti-time"></i>06/12/2019</span>
                                <a href="javascript:;" title="Đọc tiếp" class="link-view">Đọc tiếp <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inner">
                        <a href="#" title="" class="title">
                            <img src="/pictures/news_11.png" alt="">
                            <span>Cả nước chuẩn bị cho trận chung kết bóng...</span>
                        </a>
                        <div class="entry">
                            <p>Trên cả nước, những màn hình cỡ lớn đã được lắp đặt ...</p>
                            <div class="c-bot">
                                <span class="time"><i class="ti-time"></i>06/12/2019</span>
                                <a href="javascript:;" title="Đọc tiếp" class="link-view">Đọc tiếp <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="" v-if="tab2">
            <div class="row ls-news">
                <div class="col-md-3">
                    <div class="inner">
                        <a href="#" title="" class="title">
                            <img src="/pictures/news_11.png" alt="">
                            <span>Cả nước chuẩn bị cho trận chung kết bóng...</span>
                        </a>
                        <div class="entry">
                            <p>Trên cả nước, những màn hình cỡ lớn đã được lắp đặt ...</p>
                            <div class="c-bot">
                                <span class="time"><i class="ti-time"></i>06/12/2019</span>
                                <a href="javascript:;" title="Đọc tiếp" class="link-view">Đọc tiếp <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="" v-if="tab3">
            <div class="row ls-news">
                <div class="col-md-3">
                    <div class="inner">
                        <a href="#" title="" class="title">
                            <img src="/pictures/news_11.png" alt="">
                            <span>Cả nước chuẩn bị cho trận chung kết bóng...</span>
                        </a>
                        <div class="entry">
                            <p>Trên cả nước, những màn hình cỡ lớn đã được lắp đặt ...</p>
                            <div class="c-bot">
                                <span class="time"><i class="ti-time"></i>06/12/2019</span>
                                <a href="javascript:;" title="Đọc tiếp" class="link-view">Đọc tiếp <i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <div class="box margin-t20 flex">
            <div class="paging-view">
                Hiển thị:
                <select name="" v-model="view">
                    <option value="10">10 kết quả</option>
                    <option value="20">20 kết quả</option>
                    <option value="30">30 kết quả</option>
                </select>
            </div>
            <div class="page-control">
                <div class="inner">
                    <button><i class="ti-angle-left"></i></button>
                    <button><i class="ti-angle-double-left"></i></button>
                    <input type="text" v-model="page" />
                    <button><i class="ti-angle-double-right"></i></button>
                    <button><i class="ti-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
    new Vue({
        el: ".module",
		mounted(){
            // khởi tạo dữ liệu khi load Trang
            // chỗ này sẽ chạy lúc đầu khi vào trang
		},
        data: {
            list_news : [
                {
                    title : 'Đã đến lúc HLV Park',
                    description : 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                    thumbnail : '/pictures/news1.png'
                },
                {
                    title : 'HLV Park: Có khi p',
                    description : 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                    thumbnail : '/pictures/news2.png'
                },
                {
                    title : 'Tiến Dũng và Văn Toả',
                    description : 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                    thumbnail : '/pictures/news3.png'
                }
            ],
            week : '',
            view : 10,
            page : 1,
            tab1 : true,
            tab2 : false,
            tab3 : false,
        },
        watch : {
        },
        methods: {
            getData(){},
            getNews(){
                // tương tự như trên
            },
            tabChange(a=0){
                // có thể load data theo từng tab để tối ưu hiệu năng
                this.getData()
                switch (a) {
                    case 1:
                        this.tab1 = false
                        this.tab2 = true
                        this.tab3 = false
                        break;
                    case 2:
                        this.tab1 = false
                        this.tab2 = false
                        this.tab3 = true
                        break;
                    default:
                        this.tab1 = true
                        this.tab2 = false
                        this.tab3 = false
                        break;
                }
            }
        }
    });
    </script>
}