@import "uivar.scss";

@mixin icon-style {
    width: 30px;
    height: 30px;
    margin: auto;
    display: inline-block;
    /*background-color: $base_blue;*/
    border-radius: 100%;
    vertical-align: middle;
    background-image: url('images/course-icon.png');
    background-position: -3px 0;
    position: relative;

    &.assignment {
        background-position: -110px 0;
    }
}

.my-btn {
    transition: 0.5s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 4px $base_red;
        color: $base_red;
        border-radius: 5px;
    }
}

.btn:disabled {
    background: #999;
}

.my-tooltips {
    filter: opacity(75);
}

.action-link {
    border: none;
    color: #000;

    &:hover {
        text-decoration: underline;
    }
}

.box-link {
    &:hover {
        text-decoration: none;
    }
}

.modules-icon {
    @include icon-style;

    &.assignment {
        background-position: -110px 0;
    }
}


table {
    &.no-border {
        thead {
            tr, th {
                border: none !important;
            }
        }
    }

    &.table-big-title {
        thead {
            tr {
                color: $base_red;

                th {

                    h3 {
                        font-size: 1.5rem;
                        font-weight: normal;
                        margin: 1em 0;
                    }
                }
            }
        }

        .action-link {
            font-size: 1.2rem;
            color: #0074E7;
            font-weight: 600;
        }
    }

    &.bordered-table {
        tr, th, td {
            border: solid 0.5px #CCC;
        }
    }

    th, td {
        padding: 5px;
    }

    &.table-hover {

        tbody tr {
            &:nth-child(2n+1) {
                background-color: #f5f5f5;
            }

            &:hover {
                background-color: #E5F2F8;
            }
        }
    }
}

.right-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*transition: 0.3s ease-in;*/
    /*transition-delay: 0.5s;*/
    .sidebar.collapse:not(.show) ~ & {
        margin-left: 52px;
    }

    .sidebar.collapse.show ~ & {
        margin-left: 200px;
    }

    padding-bottom: 28px;
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;*/
    .left-col {
        padding: 12px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .page-title, .block-title {
            h1, h2 {
                color: $base_red;
                font-weight: 500;
                font-size: 1.2rem;
                margin-bottom: 0;
                padding: .5rem 0;
            }
            /*h1 {
                font-size: 1.2rem;
                text-transform: none;
            }

            h2 {
                font-size: 1.5rem;
            }*/
        }

        .page-title {
            &.row {
                margin: 0;
            }

            border-bottom: solid 1px #CCC;
            padding-bottom: 8px;
        }

        .main-container {
            height: 100%;
            position: relative;

            .content-block {
                border-bottom: dashed 1px #CCC;
                margin-bottom: 12px;
            }

            .course-box {
                padding: 10px;

                .course-item {
                    box-sizing: border-box;
                    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
                    border-radius: 4px;
                    overflow: hidden;
                    background: #fff;
                    width: 212px;
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 36px 36px 0;
                    background-repeat: no-repeat;
                    background-image: url('images/defCAvatar.png');
                    filter: opacity(0.75);
                    background-size: auto 100%;

                    &:hover {
                        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
                        filter: opacity(1);
                    }

                    .course-info {
                        background-color: #FFF;
                        margin-top: 146px;
                        padding: 12px 18px 0;

                        h3 {
                            font-size: 1rem;
                            color: $base_red;
                        }

                        h4 {
                            font-size: 0.85rem;
                            color: #333;
                        }

                        .action-wrapper {
                            margin: 0 -18px;

                            .actionlink {
                                display: inline-block;
                                margin: 0 5px 0 0;
                                height: 30px;
                                width: 50px;
                                background-image: url('images/icon.png');
                                background-repeat: no-repeat;
                                background-position: 7px -4px;
                                filter: grayscale(1);

                                &.assignment {
                                    background-position-x: -37px;
                                }

                                &.comment {
                                    background-position-x: -78px;
                                }

                                &:hover {
                                    filter: none;
                                }
                            }
                        }
                    }
                }
            }

            .sub-sidebar {
                width: 180px;
                margin-left: -10px;
                position: absolute;
                /*top: 24px;*/
                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        border: none;
                        border-radius: 20px;

                        a {
                            color: #000;
                            text-decoration: none;
                            outline: none;
                            padding: 8px 20px;
                            line-height: 20px;
                            display: block;
                        }

                        &:hover {
                            background: #f2f2f2;
                        }

                        &.active {
                            background: $base_red;

                            a {
                                color: #FFF;
                            }
                        }
                    }
                }
            }

            .main-content {
                min-height: 300px;
                margin-top: 12px;

                @at-root .sub-sidebar ~ .main-content {
                    padding-left: 190px;
                }

                .intro-wrapper {

                    .courseImg {
                        margin: 12px 0 0;
                        max-width: 100%;
                        max-height: 200px;
                    }

                    .courseDescription {
                        margin: 12px 0 0;
                    }
                }
            }

            .modules-wrapper {
                border: solid 1px #CCC;
                background-color: #f5f5f5;

                .modules {
                    padding: 12px 24px;
                    border-bottom: dashed 1px #CCC;
                    font-weight: 600;
                    position: relative;

                    .modules {
                        padding-right: 0;
                    }

                    &-title {
                        padding: 0 0 5px;
                        font-size: 1rem;
                        cursor: pointer;

                        i.toggleExpand {
                            display: inline-block;
                            width: 0;
                            height: 0;
                            border-top: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                            border-left: 5px solid #000;
                            border-right: 0;
                            margin-right: 7px;

                            &.expand {
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid #000;
                                border-bottom: 0;
                            }
                        }

                        span {
                            vertical-align: middle;
                        }
                    }

                    &-content {
                        margin-top: 6px;
                        transition: height 0.5s;

                        .collapse:not(.show) & {
                            display: none;
                        }

                        @at-root .modules.collapse:not(.show) & {
                            height: 0px;
                        }

                        @at-root .modules.collapse.show & {
                            height: 100%;
                        }

                        &-item {
                            padding: 12px 6px 12px 10px;
                            border: solid 1px #CCC;
                            background-color: #FFF;
                            font-size: 0.9rem;
                            border-left: 3px solid $base_blue;

                            &:hover {
                                background-color: #eef7ff;
                            }

                            &-icon {
                                @include icon-style;
                            }

                            &-info {
                                display: inline-block;
                                margin-left: 7px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}

.icon {
    @include icon-style;
}

.item-row {
    .row-action {
        i {
            display: none;
            padding: 0 5px;
            position: relative;
            cursor: pointer;

            &:hover {
                color: blue;
            }

            &.show {
                display: inline-block;
            }
        }
    }

    &:hover .row-action i {
        display: inline-block;
    }
}

footer {
    height: 28px;
    line-height: 28px;
    text-align: center;
    z-index: 2 !important;
    filter: opacity(0.8);
    background-color: $base_blue;
    color: white;
    font-size: 13px;
}
