.item-new-feed {
  cursor: pointer; }
  .item-new-feed__topic {
    padding: 10px;
    border-bottom: solid 1px #CCC; }
  .item-new-feed__title {
    color: #e60028;
    font-weight: 500;
    font-size: 1.3em;
    padding-top: 5px; }
  .item-new-feed__content {
    padding: 3px 0;
    font-size: 1em; }
    .item-new-feed__content p {
      margin-bottom: 0; }
  .item-new-feed__time {
    color: #999;
    font-size: 0.8em;
    font-style: italic; }
  .item-new-feed__sender {
    color: #e60028; }
  .item-new-feed.item-new-feed__reply {
    border-bottom: dashed 1px #CCC; }
  .item-new-feed .btn {
    display: none; }
    .item-new-feed .btn.feed_annouce {
      padding: 0; }
    .item-new-feed .btn.active {
      display: inline-block; }
  .item-new-feed:hover .btn {
    display: inline-block; }

.item-feed-full .title_row {
  margin-right: 0;
  border-bottom: solid 1px #CCC; }
  .item-feed-full .title_row div:last-child {
    padding: 0; }

.item-feed-full__title {
  font-size: 1.8em;
  font-weight: 500;
  color: #e60028;
  padding-bottom: 7px;
  width: 100%; }
