@using BaseCustomerEntity.Database;
@{
    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
    ExamEntity exam = ViewBag.Exam as ExamEntity;
    LessonEntity lesson = ViewBag.Lesson;
    List<ExamDetailEntity> listExamDetails = ViewBag.ExamDetail as List<ExamDetailEntity>;
    ViewData["Title"] = "CheckPoint";
}
    <section class="module" id="dashboard_content">
        <div class="card-header">
            <div class="flex border-b justify-content-between align-items-start">
                <h2 class="title">@lesson.Title</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="box">
                <div class="essay-template row">
                    <div class="original-stanwser col-md-6 col-sm-12">
                        <div class="anwser-title">
                            abc
                        </div>
                        <div class="anwser-content">
                            <div class="text">
                                text
                            </div>
                            <div class="metadata">
                                metadata
                            </div>
                        </div>
                    </div>
                    <div class="real-anwser col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="answer-student">

                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="anwer-teacher">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>