@{

    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
    var model = ViewBag.Model as BaseCustomerMVC.Models.DefaultModel;
    ViewData["Title"] = "My Courses";
    var subjects = ViewBag.Subjects as List<BaseCustomerEntity.Database.SubjectEntity>;
    var grades = ViewBag.Grades as List<BaseCustomerEntity.Database.GradeEntity>;
}

<script>
    setActiveMenu("course");
</script>
<script src="~/js/daterangepicker.min.js"></script>
<link href="~/css/daterangepicker.css" rel="stylesheet" />

<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25 justify-content-between">
            <div class="flex">
                <div class="box filter-box w-152">
                    <select name="">
                        <option value="">Khoá học</option>
                    </select>
                </div>
                <div class="box filter-box w-152">
                    <select name="">
                        <option value="">Môn học</option>
                    </select>
                </div>
                <div class="box filter-box w-152">
                    <select name="">
                        <option value="">Cấp độ</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="ed_table" class="table">
            <thead>
                <tr>
                    <th v-for="(field,k) in fields">{{field.label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,k) in tableData" v-if="item.id > 0">
                    <td>{{k+1}}</td>
                    <td><a href="/teacher/class_detail.html" :title="item.class_name" class="title">{{item.class_name}}</a></td>
                    <td>{{item.class_code}}</td>
                    <td>{{item.level}}</td>
                    <td>{{item.students}}</td>
                    <td><span>{{item.start_date}}</span><span>{{item.end_date}}</span></td>
                    <td>
                        <div class="d-flex btn-group">
                            <a class="btn-act btn-edit" href="#"><i class="ti-pencil-alt"></i></a>
                            <button class="btn-act btn-trash" v-on:click="destroy(item.id)"><i class="ti-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="box margin-t20 flex">
            <div class="paging-view">
                Hiển thị:
                <select v-model="view">
                    <option value="10">10 kết quả</option>
                    <option value="20">20 kết quả</option>
                    <option value="30">30 kết quả</option>
                </select>
            </div>
            <div class="page-control">
                <div class="inner">
                    <button><i class="ti-angle-left"></i></button>
                    <button><i class="ti-angle-double-left"></i></button>
                    <input type="text" v-model="page" />
                    <button><i class="ti-angle-double-right"></i></button>
                    <button><i class="ti-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>

        new Vue({
            el: ".module",
            data: {
            tableData : [
                {
                    id : 1,
                    class_name : 'IELTS Preparation',
                    class_code : 'IEL',
                    level : 'A2',
                    students : 3,
                    start_date : '02/11/2019',
                    end_date : '02/11/2019',
                    state : true
                },
                {
                    id : 2,
                    class_name : 'Destination B1',
                    class_code : 'PET',
                    level : 'A2',
                    students : 6,
                    start_date : '02/11/2019',
                    end_date : '02/11/2019',
                    state : false
                },
                {
                    id : 3,
                    class_name : 'Ngữ pháp A2',
                    class_code : 'PET',
                    level : 'A2',
                    students : 13,
                    start_date : '02/11/2019',
                    end_date : '02/11/2019',
                    state : false
                },
                {
                    id : 4,
                    class_name : 'Giao tiếp cơ bản',
                    class_code : 'IELTS',
                    level : 'A2',
                    students : 20,
                    start_date : '02/11/2019',
                    end_date : '02/11/2019',
                    state : false
                },
            ],
            fields : [
                {
                    key : 'stt',
                    label : '#'
                },
                {
                    key : 'class_name',
                    label : 'Lớp học'
                },
                {
                    key : 'class_code',
                    label : 'Mã lớp'
                },
                {
                    key : 'level',
                    label : 'Cấp độ'
                },
                {
                    key : 'students',
                    label : 'Học viên'
                },
                {
                    key : 'date',
                    label : 'Thời gian'
                },
                {
                    key : 'actions',
                    label : 'Tác vụ'
                }
            ],
            week : '',
            view : 10,
            page : 1,
            pageSize : 10
        },
        watch : {

        },
        methods: {
            getData(){
                let _data = []

                this.tableData = _data
            },
            getNews(){
                // tương tự như trên
            },
            destroy(id){
                this.tableData.forEach(function(item,k){
                    if(item.id == id){
                        item.id = 0
                    }
                })
                let _data = this.tableData.filter(function(a){
                    return a.id > 0
                })
                this.tableData = _data
            }
        }
        });

    </script>
}