@{
    var currentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
}
<div id="box-mark" class="pt-3">
    <table class="w-100 table-normal-title bordered-table" id="tblMark">
        <thead>
            <tr>
                <th style="width:60%" class="text-center">
                    Điểm
                </th>
                <th style="width:40%" class="text-center">
                    Trọng số
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    var markBody = $('#tblMark tbody');
    function LoadMarkTable() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMarks", "LessonSchedule")',
            data: {ClassID: '@currentClass.ID' },
            dataType:"json",
            success: function (data) {
                marks = data.Data;
                    if (marks.length > 0) {
                    for (j = 0; j < marks.length; j++) {
                        var item = marks[j];
                        var row = $("<tr>");
                        row.append($("<td>", {class:"text-left","text": item.Name}));
                        row.append($("<td>", {class:"text-center","text": parseFloat(item.Multiple).toFixed(1) + "%"}));
                        markBody.append(row);
                    }
                }
                markBody.append($("<tr>").append($("<td>", {class:"text-center font-weight-bold", text:"Tổng"})).append($("<td>", {class:"text-center", text: "100%" })));
            },
            error: function (res) {
                console.log(res.responseText);
            }
        });
    }

     $(document).ready(function () {
        LoadMarkTable();
    });
</script>
