@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var Data = ViewBag.Data as BaseCustomerEntity.Database.LessonEntity;
    var Class = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
}

<!-- Page Heading -->
<span class="number" onclick="openNav()">25 / 25</span>
<div id="lessonContainer">

</div>

<input type="hidden" id="LessonID" value="" />
<input type="hidden" id="ChapterID" value="" />
<input type="hidden" id="CourseID" value="" />

<script>
    $(document).ready(function () {
        load.lesson('');
    });
</script>
@section Script{
    <script src="~/js/exam.js"></script>
}
<script>
    function openNav() {
        $('#quizNavigator').addClass('col-md-10');
        document.getElementById("myNav").style.display = "block";
    }

    function closeNav() {
        $('#quizNavigator').removeClass('col-md-10');
        document.getElementById("myNav").style.display = "none";
    }

</script>
<div id="quizNavigator" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content card-body">
        <div class="form-check form-check-inline">
            <div class="form-group mb-2">
                <button class="btn btn-outline-secondary active" type="button" name="">1</button>
                <button class="btn btn-outline-secondary" type="button" name="">2</button>
                <button class="btn btn-outline-secondary" type="button" name="">3</button>
                <button class="btn btn-outline-secondary" type="button" name="">4</button>
                <button class="btn btn-outline-secondary" type="button" name="">5</button>
                <button class="btn btn-outline-secondary" type="button" name="">6</button>
                <button class="btn btn-outline-secondary" type="button" name="">7</button>
                <button class="btn btn-outline-secondary" type="button" name="">8</button>
                <button class="btn btn-outline-secondary" type="button" name="">9</button>
                <button class="btn btn-outline-secondary" type="button" name="">10</button>
                <button class="btn btn-outline-secondary" type="button" name="">11</button>
                <button class="btn btn-outline-secondary" type="button" name="">12</button>
                <button class="btn btn-outline-secondary" type="button" name="">13</button>
                <button class="btn btn-outline-secondary" type="button" name="">14</button>
                <button class="btn btn-outline-secondary" type="button" name="">15</button>
                <button class="btn btn-outline-secondary" type="button" name="">16</button>
                <button class="btn btn-outline-secondary" type="button" name="">17</button>
                <button class="btn btn-outline-secondary" type="button" name="">18</button>
                <button class="btn btn-outline-secondary" type="button" name="">19</button>
                <button class="btn btn-outline-secondary" type="button" name="">20</button>
                <button class="btn btn-outline-secondary" type="button" name="">21</button>
                <button class="btn btn-outline-secondary" type="button" name="">22</button>
                <button class="btn btn-outline-secondary" type="button" name="">23</button>
                <button class="btn btn-outline-secondary" type="button" name="">24</button>
                <button class="btn btn-outline-secondary" type="button" name="">25</button>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-5 pb-5">
            <button class="btn btn-primary" onclick="goBack();"> Hoàn thành</button>
        </div>
    </div>
</div>