@{
    //ViewData["Title"] = "Trang chủ - " + DateTime.Now.ToString("D");
    Layout = "~/Views/Shared/_LayoutStudent_NewUI.cshtml";
    var product = ViewBag.Product as List<BaseCustomerMVC.Models.NewsViewModel>;
    string center = ViewContext.RouteData.Values["basis"]?.ToString();
    string processUrl(string act, string ctrl)
    {
        string url = Url.Action(act, ctrl);

        return $"/{center}{url}";
    }
}

<div class="container">
    <form>
        <input type="text" class="hide" name="ID" id="ID" value="@ViewBag.Product.ID" />
        <input type="text" name="ClassName" readonly value="@ViewBag.Product.ClassName" />
        <input type="text" name="Price" value="@ViewBag.Product.Price" readonly />
        <button onclick="Thanhtoan()">Thanh toán</button>
    </form>
</div>

<script>
    var Thanhtoan= function () {
        var ID = document.getElementById("ID").value;
        var Center = '@center';
        //debugger
        $.ajax({
            type: "POST",
            url: '@processUrl("JoinClass","Home")',
            data: { ID: ID, basis: Center },
            dataType: "json",
            success: function (data) {
                //debugger
                alert(data.msg)
            }
        });
    }
</script>