@{
    ViewData["Title"] = "Reference - " + DateTime.Now.ToString("D");
    Layout = "~/Views/Shared/_LayoutTeacher_NewUI.cshtml";
}
<script>
    setActiveMenu("reference");
</script>

<section class="module" id="dashboard_content">
    <div class="card-header">
        <div class="flex border-b padding-b25">
            <div class="width-100 flex">
                <div class="box filter-box w-152">
                    <select v-model="course">
                        <option value="">Khoá học</option>
                        <option value="all">Tất cả</option>
                    </select>
                </div>
                <div class="box filter-box w-152">
                    <select v-model="level">
                        <option value="">Cấp độ</option>
                        <option value="0">Tất cả</option>
                    </select>
                </div>
            </div>
            <div class="search-box">
                <button><i class="ic ic-find"></i></button>
                <input type="text" name="" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row ls-doc">
            <div class="col-md-12">
                <div class="inner">
                    <a href="#" title="" class="thumb">
                        <img src="/pictures/doc1.png" alt="">
                    </a>
                    <div class="entry">
                        <div class="flex j-between">
                            <div class="c-left">
                                <a href="#" title="" class="title">IELTS Practice Tests</a>
                                <div class="rating"><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i></div>
                            </div>
                            <div class="c-right">
                                <a href="#" title="Xem" class="btn-view">Xem</a>
                                <a href="#" title="Tải về" class="btn-download">Tải về</a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="inner">
                    <a href="#" title="" class="thumb">
                        <img src="/pictures/doc2.png" alt="">
                    </a>
                    <div class="entry">
                        <div class="flex j-between">
                            <div class="c-left">
                                <a href="#" title="" class="title">IELTS Practice Tests</a>
                                <div class="rating"><i class="icofont icofont-star"></i><i class="icofont icofont-star"></i></div>
                            </div>
                            <div class="c-right">
                                <a href="#" title="Xem" class="btn-view">Xem</a>
                                <a href="#" title="Tải về" class="btn-download">Tải về</a>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        new Vue({
            el: ".module",
            data: {
            list_news : [
                {
                    title : 'Đã đến lúc HLV Park',
                    description : 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                    thumbnail : '/pictures/news1.png'
                },
                {
                    title : 'HLV Park: Có khi p',
                    description : 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                    thumbnail : '/pictures/news2.png'
                },
                {
                    title : 'Tiến Dũng và Văn Toả',
                    description : 'Đây là lúc để HLV Park giải bài toán khó nhất của ông',
                    thumbnail : '/pictures/news3.png'
                }
            ],
            week : '',
            course : 'all',
            level : 0
        },
        watch : {
        },
        methods: {

            getNews(){
                // tương tự như trên
            },
        }
        });
    </script>
}