-<div class="container hinhnen">
    <header class="pageHeader">
        <h3><i class="fa fa-tachometer fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Dashboard' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <!--<div *ngIf="configurations.showDashboardStatistics" class="row bottom-space well well-sm">
            <h4 class="text-muted inline-block">{{'home.StatisticsTitle' | translate}}</h4>
            <button type="button" class="close pull-right statistics-close-btn" aria-label="Close" title="Close" (click)="configurations.showDashboardStatistics = false">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="clearfix"></div>
            <statistics-demo></statistics-demo>
        </div>-->

        
    </div>
</div>
