<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link href="~/roxyfilemanager/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/roxyfilemanager/css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/roxyfilemanager/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="~/roxyfilemanager/js/filetypes.js"></script>
    <script type="text/javascript" src="~/roxyfilemanager/js/custom.js"></script>
    <script type="text/javascript" src="~/roxyfilemanager/js/main.js"></script>
    <script type="text/javascript" src="~/roxyfilemanager/js/utils.js"></script>
    <script type="text/javascript" src="~/roxyfilemanager/js/file.js"></script>
    <script type="text/javascript" src="~/roxyfilemanager/js/directory.js"></script>
    <script type="text/javascript" src="~/roxyfilemanager/js/jquery-dateFormat.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>