@{

    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var model = ViewBag.Model as BaseCustomerMVC.Models.DefaultModel;
    ViewData["Title"] = "Khóa học của tôi - Danh sách khóa học";
}
<div class="container">
    <!-- Begin Page Content -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách khóa học</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Môn học</th>
                            <th class="text-center">Lớp tiến chỉ</th>
                            @*
                            <th class="text-center">Giáo trình</th>*@
                            @*
                            <th>Cấp độ</th>*@
                            <th class="text-center">Giáo viên</th>
                            <th class="text-center">Ngày bắt đầu</th>
                            <th class="text-center">Ngày kết thúc</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->
</div>
@section Scripts{
<script>
        function LoadData() {
        var searchText = $("#searchText").val() == void 0? "" :$("#searchText").val();
        var startDate = $("#startDate_sort").val()== void 0? "" :$("#startDate_sort").val();
        var endDate = $("#endDate_sort").val()== void 0 ? "" :$("#endDate_sort").val();
        var SubjectID = $("#SubjectID").val()== void 0 ? "" :$("#SubjectID").val();
        var GradeID = $("#GradeID").val()== void 0? "" : $("#GradeID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetList", "MyCourse")',
            data: {SearchText: searchText,StartDate: startDate,EndDate: endDate, SubjectID: SubjectID, GradeID: GradeID},
            dataType:"json",
            success: function (data) {
                var body = $('#dataTable tbody');
                body.html("");
                if (data.Data.length > 0)
                {

                    //ID ,CourseID ,TeacherID ,Status ,EndDate ,StartDate ,Name ,CourseName ,StudentNumber,SubjectName, TeacherName ,GradeName

                    for (i = 0; i < data.Data.length; ++i) {
                        item = data.Data[i];
                        body.append("<tr>" +
                            "<td class='text-center'>"+(i+1)+"</td>"+
                            "<td><a href='"+'@Url.Action("Detail", "MyCourse")'+"/"+item.ID+"'>" + item.SubjectName + "</a></td>" +
                            "<td class='text-center'>" + item.Name + "</td>" +
                            //"<td>" + item.CourseName + "</td>" +
                            //"<td>" + item.GradeName + "</td>" +
                            "<td class='text-center'>" + item.TeacherName + "</td>" +
                            "<td class='text-center'>" + new Date(item.StartDate).toLocaleDateString() + "</td>" +
                            "<td class='text-center'>" + new Date(item.EndDate).toLocaleDateString() + "</td>"+
                            "</tr>"
                        );
                    }
                }
            },
            error: function (err) {
                console.log(err.responseText)
            }
        });
    };

    LoadData();

</script>}