<div class="col-md-12">
  <ul class="breadcrumb" style="margin:0">
    <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Thông tin tuyển sinh</li>
  </ul>
</div>
<div class="container">
  <div class="row" id="rowin">
    <div class="col-md-12">
      <h1 class="head text-uppercase">Tra cứu thông tin tuyển sinh</h1>
      <div class="panel panel-default">
        <div class="panel-body bg-brown">


          <form *ngIf="1==1" #f="ngForm" novalidate (ngSubmit)="search(f)" name="searchForm"
                class="form-horizontal vt-form vt-form-tcdt">

            <div class="TC-ten col-md-10 offset-md-1 m-t-20" *ngIf="dataSearch.searchType == 'HoTen'">
              <div class="form-group">
                <div class="row">
                  <label class="col-md-3  m-b-10">
                    Cấp học - năm học
                  </label>
                  <div class="col-md-4 m-b-20">
                    <div class="listBox" style="height: 34px;">
                      <ngx-select [items]="lstCapHoc" [(ngModel)]="dataSearch.capHoc"
                                  name="CapHoc"
                                  (selectionChanges)="doCapHoc($event)"
                                  required #CapHoc="ngModel">
                      </ngx-select>
                    </div>
                    <span class="vt-require-select text-danger" *ngIf="f.submitted && CapHoc.errors?.required">
                    </span>
                  </div>

                  <div class="col-md-5 m-b-20">
                    <div class="listBox" style="height: 34px;">
                      <ngx-select [items]="lstNamHoc" [(ngModel)]="dataSearch.namHoc" name="NamHoc"></ngx-select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-3 m-b-5 control-label">
                    Quận huyện - trường học
                  </label>
                  <div class="col-md-4 m-b-20">
                    <div class="listBox">
                      <ngx-select [items]="lstQuanHuyen"
                                  [(ngModel)]="dataSearch.MaQuanHuyen"
                                  name="MaQuanHuyen"
                                  required #QuanHuyen="ngModel"
                                  (selectionChanges)="doMaQuanHuyen($event)">
                      </ngx-select>
                      <span class="vt-require-select text-danger" *ngIf="f.submitted && QuanHuyen.errors?.required">
                      </span>
                    </div>
                  </div>
                  <div class="col-md-5 m-b-20">
                    <div class="listBox">
                      <ngx-select [items]="lstTruongHocSearch"
                                  id="dsTruongHoc"
                                  [(ngModel)]="dataSearch.MaTruong"
                                  name="MaTruongHoc"
                                  required #TruongHoc="ngModel"
                                  (selectionChanges)="doMaTruongHoc($event)">
                      </ngx-select>
                      <span class="vt-require-select text-danger" *ngIf="f.submitted && TruongHoc.errors?.required">
                      </span>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-5 offset-3">
                    <div class="listBox m-t-10">
                      <div class="ckbox ckbox-primary" (click)="changeCheckbox()">
                        <input [(ngModel)]="dataSearch.SoQuanLy"
                               type="checkbox" name="SoQuanLy" />
                        <label>Trường trực thuộc sở quản lý</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group text-center m-t-10">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-warning font01">
                    <i class="fa fa-search"></i> Tra cứu
                  </button>
                </div>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-content reportBox" id="InfoSchool">
        <div class="inner">
          <h4 class="tit-admission text-bold">Kết quả trường đúng tuyến tuyển sinh:</h4>
          <div *ngIf="!firstLoad && (!lstTruongHoc || lstTruongHoc.length === 0)">
            {{errorMessage}}
          </div>
          <div class="panel-group accord-info">
            <view-ttin-tsinh-truong [item]="item" [namHoc]="dataSearch.namHoc" [capHoc]="dataSearch.capHoc" *ngFor="let item of lstTruongHoc"></view-ttin-tsinh-truong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lineBottom2"></div>


</div>
