
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<div id="check">
             
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Hoàng Anh Tuấn - Bài kiểm tra số 1</h6>
            <div class="float-right">Thời gian làm bài: 20:00 | Tổng điểm: 20</div>
        </div>
        <div class="card-body">
            <div class="part-box-header">
                <h4 class="title">1. Choose correct answers</h4>
            </div>
            <div class="item">
                <h4 class="title">1 This week's prize is  (1đ)</h4>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A a music cassette</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">B two concert tickets</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C a classical CD</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4 class="title">2 This week's prize is  (1đ)</h4>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A a music cassette</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">B two concert tickets</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C a classical CD</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4 class="title">3 This week's prize is  (1đ)</h4>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A a music cassette</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">B two concert tickets</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C a classical CD</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4 class="title">4 This week's prize is  (1đ)</h4>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A a music cassette</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">B two concert tickets</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C a classical CD</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4 class="title">5 This week's prize is  (1đ)</h4>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A a music cassette</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">B two concert tickets</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C a classical CD</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4 class="title">6 This week's prize is  (1đ)</h4>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A a music cassette</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">B two concert tickets</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C a classical CD</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4 class="title">7 This week's prize is  (1đ)</h4>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A a music cassette</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">B two concert tickets</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C a classical CD</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4 class="title">8 This week's prize is  (1đ)</h4>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A a music cassette</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">B two concert tickets</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C a classical CD</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h5 class="title">9 The person who wrote the music lived in (1đ)</h5>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A Italy</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">B Spain</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">C France</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h5 class="title">10 What else shares the title of this music? (1đ)</h5>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">A Italy</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">B Spain</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C France</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h5 class="title">11 What did people do when they first heard the music? (1đ)</h5>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A Italy</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">B Spain</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C France</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h5 class="title">12 This piece of music has been (1đ)</h5>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">A Italy</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">B Spain</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">C France</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="item">
                <h5 class="title">13 This piece of music has been (1đ)</h5>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)" checked>
                            <label class="answer-text">A Italy</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item selected">
                            <input type="hidden" value="true"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">B Spain</label>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset class="answer-item">
                            <input type="hidden"><input type="checkbox" class="input-checkbox answer-checkbox" onclick="toggleCorrectAnswer(this)">
                            <label class="answer-text">C France</label>
                        </fieldset>
                    </div>
                </div>

                <div class="part-box ESSAY">
                    <div class="part-box-header">
                        <h4 class="title">2. Write an essay for the following content ( 30đ )</h4>
                    </div>
                    <div class="content-wrapper">
                        <div class="doc-content">
                            <ul>
                                <li>Over 80,000 entries and 215,000 pronunciations using the International Phonetic Alphabet.</li>
                                <li>Includes proper names as well as general vocabulary.</li>
                                <li>CD-ROM and online version include spoken pronunciations in British and American English.</li>
                                <li>Panels give information on sounds and phonetics terminology.</li>
                                <li>CD-ROM includes exercises, pronunciation pronunciation practice, and phonetic search facility for comparing sounds.</li>
                            </ul>
                        </div>

                        <div class="student-content">
                            <h3>Reply: </h3>
                            <p>New edition of the classic work by Daniel Jones includes up-to-date entries and new study pages.</p>
                            <p>The 18th edition includes over 230,000 pronunciations of words and phrases. Unlike general dictionaries, it also includes the pronunciation of proper names, people and places. It also features The World of English Pronunciation – a collection of lively essays on aspects of pronunciation by leading experts in the field, and includes a phonetics and phonology glossary and notes on the relationship between spellings and sounds.</p>
                            <p>C A M B R I D G E U N I V E R S I T Y P R E S S Cambridge, New York, Melbourne, Madrid, Cape Town, Singapore, São Paulo, Delhi, Dubai, Tokyo, Mexico City Cambridge University Press The Edinburgh Building, Cambridge CB2 8RU, UK http://dictionary.cambridge.org Information on this title: www.cambridge.org/9780521152556 © Cambridge University Press 2011 This publication is in copyright. Subject to statutory exception and to the provisions of relevant collective licensing agreements, no reproduction of any part may take place without the written permission of Cambridge University Press. First published by J. M. Dent & Sons Ltd 1917 First published by Cambridge University Press 1991 This edition published 2011 Printed in China by Sheck Wah Tong Printing Press Limited A catalogue record for this publication is available from the British Library ISBN 978-052-115255-6 Paperback with CD-ROM ISBN 978-052-115253-2 Paperback ISBN 978-052-176575-6 Hardback Cambridge University Press has no responsibility for the persistence or accuracy of URLs for external or third-party internet websites referred to in this publication, and does not guarantee that any content on such websites is, or will remain, accurate or appropriate. Information regarding prices, travel timetables and other factual information given in this work is correct at the time of first printing but Cambridge University Press does not guarantee the accuracy of such information thereafter. Defined words that we have reason to believe constitute trademarks have been labeled as such. However, neither the presence nor absence of such labels should be regarded as affecting the legal status of any trademarks.</p>
                        </div>
                        <div class="item-student">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Nhận xét:</span>
                                        </div>
                                        <textarea class="form-control" style="height:38px" aria-label="With textarea"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Điểm:</span>
                                        </div>
                                        <input type="text" aria-label="First name" placeholder="30" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                 
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <button class="btn btn-danger" onclick="goBack();">Lưu</button>
                <button class="btn btn-danger" onclick="goBack();">Đóng</button>
            </div>
        </div>
    </div>
</div>