@{
    ViewData["Title"] = "Quản lý";
    Layout = "~/Views/Shared/_LayoutDefaults.cshtml";
    //Layout = "~/Views/Shared/_LayoutWRPT.cshtml";
    var menu = ViewBag.Data as List<MVCBase.Globals.MenuControlAttribute>;

}
<div class="row">
    <button onclick="notifyMe()">Notify me!</button>
    @{
        if (menu != null)
        {
            int _count = menu.Count;
            for (int i = 0; i < _count; i++)
            {
                var item = menu[i];
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <a class="card card-stats" href="@Url.Action("Index",item.CModule)">
                        <div class="card-header card-header-@item.Color card-header-icon">
                            <div class="card-icon"><i class="material-icons">@item.Icon</i></div>
                        </div>
                        <div class="card-footer"><b>@item.Name</b></div>
                    </a>
                </div>
            }
        }
    }
</div>