@{

    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var currentClass = ViewBag.Class as BaseCustomerEntity.Database.ClassEntity;
    ViewData["Title"] = currentClass.Name + " - Trao đổi";
}

<script>
    activeTab = "course";
    modulesLink = "@Url.Action("Modules", "Course")/@currentClass.ID";
    activeSub = "discussions";
</script>


<div class="left-col">
    <div class="page-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="main-container">
        <div class="sub-sidebar">
            @await Html.PartialAsync("_subSidebarTeacher")
        </div>
        <div class="main-content">
        </div>
    </div>
</div>

@section Scripts {

}