
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-banner">
</div>
<div class="about-us mt-5 mb-5">
    <div class="inner-content">
        <div class="content-box">
            <div class="box-title text-left">
                Về Eduso
                <div class="underline w-50"></div>
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </div>
        </div>
    </div>
</div>
<div class="how-we-help pt-5 pb-5">
    <div class="inner-content d-flex">
        <div class="content-box text-center">
            <div class="box-title text-center">
                Chúng tôi giúp gì cho bạn
                <div class="underline w-50"></div>
            </div>
            <div class="d-flex flex-column flex-md-row" style="width: 100%">
                <div class="sub-box media-body m-3">
                    <div class="image">
                        <img src="~/images/hwh1.png" />
                    </div>
                    <div class="title">
                        Học sinh
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
                <div class="sub-box media-body m-3">
                    <div class="image">
                        <img src="~/images/hwh2.png" />
                    </div>
                    <div class="title">
                        Giáo viên
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
                <div class="sub-box media-body m-3">
                    <div class="image">
                        <img src="~/images/hwh3.png" />
                    </div>
                    <div class="title">
                        Quản lý
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-product-top d-none d-md-block"></div>
<div class="our-product">
    <div class="inner-content d-block d-md-flex justify-content-md-between" style="width:100%;">
        <div class="media">
            <img src="~/images/Product.png" />
        </div>
        <div class="content-box">
            <div class="box-title text-left">
                Sản phẩm
                <div class="underline w-50"></div>
            </div>
            <div class="content text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>
<div class="trial-top d-none d-md-block"></div>
<div class="trial">
    <div class="inner-content d-flex justify-content-center">
        <div class="media d-none d-md-block">
            <img src="~/images/trial.png" />
        </div>
        <div class="content-box text-center">
            <div class="box-title text-center text-white">
                Đăng ký dùng thử miễn phí
            </div>
            <div class="trial-form">
                <div>
                    <label>Họ và tên</label>
                    <input type="text" class="form-control" />
                </div>
                <div>
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" />
                </div>
                <div>
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" />
                </div>

            </div>
            <div class="text-center">
                <button> Đăng ký ngay</button>
            </div>
        </div>
    </div>
</div>
<div class="news pt-5 pb-5">
    <div class="inner-content">
        <div class="content-box">
            <div class="box-title text-left">
                Tin tức
                <div class="underline w-50"></div>
            </div>
            <div class="categories">
                <a href="#" class="active">Sự kiện</a> |
                <a href="#">Ngôi sao đổi mới</a> |
                <a href="#">Chuyện Nghề </a> |
                <a href="#">Câu chuyện đối tác</a>

            </div>
            <div class="news-list d-flex flex-column flex-md-row pt-3" style="border-top:solid 0.5px #CCC">
                <div class="news-hot media-body pr-md-4" style="border-right:solid 0.5px #CCC">
                    <div class="news-item w-100 pb-3">
                        <div class="thumb w-100 pb-2">
                            <a href="#">
                                <img src="~/images/news1.png" class="w-100" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="#">
                                Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                            </a>
                        </div>
                        <div class="news-desc">
                            Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                        </div>
                        <div class="news-time">
                            12/08/2019
                        </div>
                    </div>
                    <div class="news-item w-100 pb-3 pt-3">
                        <div class="thumb w-100 pb-2">
                            <a href="#">
                                <img src="~/images/news2.png" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="#">
                                Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                            </a>
                        </div>
                        <div class="news-desc">
                            Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                        </div>
                        <div class="news-time">
                            12/08/2019
                        </div>
                    </div>
                </div>
                <div class="news-top  media-body pl-md-4">
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news3.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news4.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news5.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news6.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                    <div class="news-item pb-3 pt-3 d-flex">
                        <div class="thumb">
                            <a href="#">
                                <img src="~/images/news7.png" />
                            </a>
                        </div>
                        <div class=" media-body">
                            <div class="news-title">
                                <a href="#">
                                    Học sinh tiểu học Sài Gòn ngày đầu trở lại trường
                                </a>
                            </div>
                            <div class="news-desc">
                                Hơn 630.000 học sinh tiểu học TP HCM đến trường hôm nay, sau hơn 3 tháng nghỉ vì Covid-19, để ổn định nề nếp trước khi học trở lại.
                            </div>
                            <div class="news-time">
                                12/08/2019
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="partner pt-5 pb-5">
    <div class="inner-content">
        <div class="content-box text-center">
            <div class="box-title text-center">
                Đối tác
                <div class="underline w-50"></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between" style="width: 100%">
                <div class="media-body m-2">
                    <img src="~/images/PN-1.png" />
                </div>
                <div class="media-body m-2">
                    <img src="~/images/PN-2.png" />
                </div>
                <div class="media-body m-2">
                    <img src="~/images/PN-3.png" />
                </div>
                <div class="media-body m-2">
                    <img src="~/images/PN-4.png" />
                </div>

            </div>
        </div>
    </div>
</div>
<div class="footer pt-5 pb-5">
    <div class="inner-content d-flex flex-column flex-md-row">
        <div class="logo mr-4 media-body d-none d-md-block">
            <img src="~/images/bottom-logo.png" />
        </div>
        <div class="mr-4 media-body">
            <div class="footer-title">
                Công ty TNHH Eduso Vietnam
            </div>
            <div>
                <div class="mb-2">
                    Số 3 Đường Cầu Giấy, Ngọc Khánh, Đống Đa, Hà Nội, Việt Nam
                </div>
                <div class="mb-2">
                    Email: eduso.vn@gmail.com
                </div>
                <div class="mb-2">
                    Điện thoại: 0989085398
                </div>
            </div>
        </div>
        <div class="media-body">
            <div class="footer-title">
                Thông tin chi tiết
            </div>
            <div>
                <div class="mb-2">
                    <a href="#">
                        Về Eduso Vietnam
                    </a>
                </div>
                <div class="mb-2">
                    <a href="#">
                        Sản phẩm
                    </a>
                </div>
                <div class="mb-2">
                    <a href="#">
                        Tin tức
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .inner-content {
        max-width: 1140px;
        margin: auto;
    }

    .top-banner {
        display: block;
        height: 396px;
        background-image: url(/images/topbanner.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 2px;
    }

    @@media ( max-width : 800px) {
        .top-banner {
            height: 0;
            background-size: auto 100%;
            padding-top: 50%;
        }
    }

    .about-us {
        background-image: url(/images/Aboutus_bg.png);
        background-repeat: no-repeat;
        background-position: right 84px center;
        margin-top: 2px;
        height: 340px;
    }

    .our-product {
        background-image: url(/images/bg_product.png);
        background-repeat: no-repeat;
        background-size: 100%;
        /*height: 340px;*/
        padding-top: 120px;
        padding-bottom: 120px;
    }

        .our-product .media {
            width: 560px;
        }

            .our-product .media img {
                max-width: 100%;
                max-height: 100%;
            }

    @@media (max-width: 800px) {
        .our-product .media {
            width: 100%;
            margin-bottom: 24px;
        }
    }

    .content-box .box-title {
        font-size: 32px;
        line-height: 44px;
        color: #05517B;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 24px;
        position: relative;
    }

        .content-box .box-title .underline {
            height: 4px;
            background: #C1272C;
            position: absolute;
        }

    .content-box .content {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
        color: #000000;
    }

    .our-product-top {
        width: 0px;
        height: 0;
        border-right: 1366px solid transparent;
        border-left: 0px solid transparent;
        border-top: 60px solid #F2F2F2;
        margin-bottom: -60px;
    }

    .trial-top {
        width: 0px;
        height: 0;
        border-left: 1366px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 60px solid #08486B;
        margin-top: -60px;
    }


    .trial {
        background: #08486B;
        padding: 20px 0;
    }

        .trial .box-title {
            font-size: 24px;
            line-height: 33px;
            font-style: normal;
            font-weight: normal;
        }

        .trial .media {
        }

        .trial .content-box {
            margin-left: 100px;
        }

        .trial .trial-form {
            width: 560px;
            height: 252px;
            background: #FFFFFF;
            border-radius: 3px;
            padding: 24px;
            text-align: left;
        }

    @@media (max-width: 800px) {
        .trial .content-box {
            margin: 0;
        }

        .trial .trial-form {
            width: 100%;
        }
    }

    .trial .trial-form label {
        font-style: normal;
        font-size: 14px;
        line-height: 19px;
    }

    .trial .trial-form input {
        background: #FFFFFF;
        border: 0.5px solid #A8A8A8;
        box-sizing: border-box;
        border-radius: 3px;
    }

    .trial button {
        margin-top: 32px;
        width: 251px;
        height: 44px;
        left: 735px;
        top: 402px;
        background: #C1272C;
        border-radius: 100px;
        /*font-family: Lato;*/
        font-style: normal;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
    }

    .how-we-help,
    .news,
    .footer {
        background-color: #F2F2F2;
    }

        .news .categories {
            margin-bottom: 10px;
            line-height: 16px;
            color: #CCC;
        }

            .news .categories a {
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                color: #A0A0A0;
                margin: 0 16px;
            }

                .news .categories a:first-child {
                    margin-left: 0
                }

                .news .categories a:last-child {
                    margin-right: 0
                }

                .news .categories a.active, .news .categories a:hover {
                    text-decoration: none;
                    color: #05517B;
                }

    .news-item {
        border-bottom: solid 1px #CCC;
    }

    @@media(min-width : 800px) {
        .news-hot .news-item:first-child,
        .news-top .news-item:first-child {
            padding-top: 0 !important;
        }

        .news-hot .news-item:last-child,
        .news-top .news-item:last-child {
            border-bottom: none;
        }
    }

    .news-top .news-item .thumb {
        border-bottom: none;
        height: 120px;
        width: 40%;
        margin-right: 12px;
    }


    .thumb img {
        max-width: 100%;
    }

    .news-item .news-title {
        font-weight: bold;
        padding-bottom: 10px;
        font-size: 16px;
    }

        .news-item .news-title a {
            color: #333;
            text-decoration: none;
        }

            .news-item .news-title a:hover {
                text-decoration: underline;
            }

    .news-item .news-desc {
        font-size: 14px;
        margin-bottom: 3px;
        text-align: justify;
    }

    .news-item .news-time {
        font-size: 14px;
        color: #99A1A6;
        padding-left: 21px;
        position: relative;
    }

        .news-item .news-time::before {
            content: url(/images/icon/clock.png);
            position: absolute;
            left: 1px;
            top: 4px;
        }

    @@media (max-width: 800px) {
        .content-box .box-title {
            /*font-size: 16px;*/
        }

        .news {
            padding: 0 20px;
        }

            .news .categories {
                font-size: 0;
            }

                .news .categories a {
                    margin: 5px 0;
                    display: inline-block;
                    padding: 0px 5px;
                    font-size: 14px;
                    line-height: 14px;
                }

            .news .news-hot {
                border: none !important;
            }
    }

    .content-box .sub-box .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }

    .about-us .box-title {
        text-align: left;
    }

    .about-us .content,
    .our-product .content {
        width: 560px;
        text-align: justify;
    }


    @@media ( max-width : 800px) {
        .about-us {
            background-position: center bottom;
            padding-bottom: 320px;
            height: auto;
            margin: 0 20px;
        }

            .about-us .content,
            .our-product .content {
                width: 100%;
            }

        .our-product {
            padding: 20px;
            background-size: 100%;
            background-position: left bottom;
        }
    }



    .how-we-help .underline {
        left: 25%;
        margin-top: 8px;
    }

    .partner,
    .footer {
        padding: 0 84px;
    }

    @@media ( max-width : 800px) {
        .partner,
        .footer {
            padding: 0 20px;
        }
    }

    .partner .underline {
        left: 25%;
        margin-top: 8px;
    }



    .footer .footer-title {
        color: #03324C;
        font-weight: bold;
        font-size: 16px;
        border-bottom: solid 1px #000;
        line-height: 20px;
        padding-bottom: 7px;
        margin-bottom: 7px;
    }

    .footer a {
        color: #000;
    }
</style>
