<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EDUCOO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>
<body>
    <main id="main">
        <section id="login_frame">
            <div class="header-top">
                <div class="inner">
                    <a href="/" title="educoo" class="logo"><img src="/images/Logo.png" alt="educoo" /></a>
                </div>
            </div>
            <div class="box" id="box_login">
                <div class="card-header">
                    <h3 v-if="signin">Đăng nhập với tài khoản</h3>
                    <h3 v-if="forgot"><button class="btn-back" v-on:click="changeState(99)"><i class="icon-back"></i></button> Quên mật khẩu</h3>
                    <h3 v-if="signup"><button class="btn-back" v-on:click="changeState(99)"><i class="icon-back"></i></button>Đăng ký</h3>
                    <div class="note" v-if="signin">Chưa có tài khoản? <a href="javascript:;" title="Đăng ký ngay!" v-on:click="changeState()">Đăng ký ngay!</a> </div>
                    <div class="note" v-if="forgot">Vui lòng nhập địa chỉ Email để đặt lại mật khẩu mới.</div>
                </div>
                <div class="card-body">
                    <form method="POST" action="/" id="sign_form">
                        <div class="form-group">
                            <label for="email">Địa chỉ email</label>
                            <input type="text" name="UserName" class="form-control" placeholder="Nhập email" id="email" v-model="email">
                        </div>
                        <div class="form-group" v-if="signup">
                            <label for="name">Họ và tên</label>
                            <input type="text" name="Name" class="form-control" placeholder="Nhập họ tên" id="name" v-model="name">
                        </div>
                        <div class="form-group" v-if="signup">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" name="Phone" class="form-control" placeholder="Nhập số điện thoại" id="phone" v-model="phone">
                        </div>
                        <div class="form-group" v-if="!forgot">
                            <label for="password">Mật khẩu</label>
                            <input type="password" name="PassWord" class="form-control" placeholder="Nhập mật khẩu" id="password" v-model="password">
                        </div>
                        <div class="form-group" v-if="!forgot">
                            <label for="usertype">Tài khoản đăng nhập</label>
                            <select class="form-control" name="Type" id="usertype" v-model="usertype">
                                <option value="student" selected>Student</option>
                                <option value="teacher">Teacher</option>
                                <option v-if="signin" value="admin">Administrator</option>
                            </select>
                        </div>
                        <div class="center">
                            <button type="button" class="btn btn-sign" v-bind:class="{disabled : disable}" v-if="signin" :disabled="disable" v-on:click="signIn()">Đăng nhập</button>
                            <button type="button" class="btn btn-sign" v-bind:class="{disabled : disable}" v-if="forgot" :disabled="disable" v-on:click="renewPass()">Đặt lại mật khẩu</button>
                            <button type="button" class="btn btn-sign" v-bind:class="{disabled : disable}" v-if="signup" :disabled="disable" v-on:click="signUp()">Đăng ký</button>
                            <a href="javascript:;" title="Quên mật khẩu?" class="forgot-link" v-if="signin" v-on:click="changeState(2)">Quên mật khẩu?</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
<script>
    new Vue({
        el: "#main",
		mounted(){
		},
        data: {
            email : '',
            password : '',
            usertype : 'student',
            name : '',
            phone : '',
            disable : false,
            signup : false,
            signin :true,
            forgot: false,
            action: '@Url.Action("LoginAPI","Home")'
        },
        methods: {
            changeState(s=1){
                let _that = this
                _that.disable = false
                switch (s) {
                    case 1:
                        _that.signup = true
                        _that.signin = false
                        _that.forgot = false
                        _that.action = '@Url.Action("RegisterAPI","Home")'
                        break;
                    case 2:
                        _that.signup = false
                        _that.signin = false
                        _that.forgot = true
                        _that.action = '@Url.Action("ForgotAPI","Home")'
                        break;
                    default:
                        _that.signup = false
                        _that.signin = true
                        _that.forgot = false
                        _that.action = '@Url.Action("LoginAPI","Home")'
                        break;
                }
            },
            signIn() {
                let _that = this
                _that.disable = true
                let _form = new FormData()
                _form.append('UserName',_that.email)
                _form.append('PassWord',_that.password)
                _form.append('Type', _that.usertype)
                console.log(_form);

                axios.post(_that.action, _form)
                    .then(response => {
                        //console.log(response.data)
                        if(response.data.StatusCode){
                            window.location.href= response.data.Location
                        }else{
                            alert(response.data.StatusDesc)
                            _that.disable = false
                        }
                     }).catch(e=>{
                                alert(e.response.data.StatusDesc)
                                _that.disable = false
                        })
            },
            signUp() {
                let _that = this
                console.log(_that.action);
                _that.disable = true
                let _form = new FormData()
                _form.append('UserName', _that.email)
                _form.append('Name',_that.name)
                _form.append('PassWord',_that.password)
                _form.append('Type', _that.usertype)
                _form.append('Phone',_that.phone)

                axios.post(_that.action,_form)
                    .then(response => {
                        //console.log(response.data)
                        if (response.data.StatusCode) {
                            alert(response.data.StatusDesc)
                            window.location.href= response.data.Location
                        }else{
                            alert(response.data.StatusDesc)
                            _that.disable = false
                        }
                     }).catch(e=>{
                                alert(e.response.data.StatusDesc)
                                _that.disable = false
                        })
            },
            renewPass(){
                let _that = this
                _that.disable = true
                let _form = new FormData()
                _form.append('UserName', _that.email)

                axios.post(_that.action, _form)
                    .then(response => {
                        if(response.data.StatusCode){
                            window.location.href= response.data.Location
                        }else{
                            alert(response.data.StatusDesc)
                            _that.disable = false
                        }
                     }).catch(e=>{
                                alert(e.response.data.StatusDesc)
                                _that.disable = false
                        })
            }
        }
    });
</script>
