
@{
    ViewData["Title"] = "OnlineClass";
    int role = User.FindFirst("Type")?.Value == "teacher" ? 1 : 0;
    var url = ViewBag.Url as string;
    var lessonUrl = ViewBag.LessonUrl as string;
    //var role = ViewBag.Role as string;
}
<head>
    <title>Online Class</title>
</head>
<body style="margin:0; padding:0;">
    @if (!string.IsNullOrEmpty(lessonUrl))
    {
        <a href="@lessonUrl" target="_blank">
            <button style="position: absolute;top: 15px;left: 85px;border-radius: 20px; background: #2d8cff; color:#FFF; outline:none; border:none;padding:5px 10px; cursor:pointer;">
                Mở bài học
            </button>
        </a>
    }
    <iframe src="@url" style="width: 100%; height: 100%; margin: 0; border: none">
    </iframe>
</body>
