@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Data = ViewBag.Data as BaseCustomerEntity.Database.AccountEntity;
}


<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-4">
                            @if (Data == null)
                            {
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Register!</h1>
                                </div>
                                @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @name = "LoginForm" }))
                                {
                                    Html.AntiForgeryToken();
                                    <div class="form-group">
                                        <input type="email" name="UserName" class="form-control form-control-user" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Name" class="form-control form-control-user" placeholder="Full name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="PassWord" class="form-control form-control-user" placeholder="Password" required>
                                    </div>
                                    <div class="input-group mb-3">
                                        <select class="custom-select" name="Type">
                                            <option value="student" selected>Student</option>
                                            <option value="teacher">Teacher</option>
                                        </select>
                                    </div>

                                    <input type="button" class="btn btn-primary btn-user btn-block" onclick="submit(this)" value="Register">
                                    <hr>
                                }
                            }
                            else
                            {
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Register Successful!<br /> Please contact with administrator to active your account</h1>
                                </div>
                            }
                            <div class="text-center">
                                @Html.ActionLink("Sign In", "login", "home", null)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var Remember = function () {
        var customCheck = document.getElementById("customCheck");
        customCheck.value = !customCheck.checked;
    }
    var submit = function (t) {
        var form = t.parrent;
        form.submit();
    }
</script>

