
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutDefaults.cshtml";
}
@section Link{
    <link href="~/Lib/ckeditor/samples/css/samples.css" rel="stylesheet" />
    <link href="~/Lib/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css" rel="stylesheet" />
}
<div id="editor"></div>

@section Scripts{
    <script src="~/Lib/ckfinder/ckfinder.js"></script>
    <script src="~/Lib/ckeditor/ckeditor.js"></script>
    <script src="~/Lib/ckeditor/config.js"></script>
    <script>
        var editor = CKEDITOR.replace('editor', {
            // Adding drag and drop image upload.
            extraPlugins: 'print,format,font,colorbutton,justify,uploadimage',
            uploadUrl: '/ckfinder/connector?command=QuickUpload&type=Images&responseType=json',

            // Configure your file manager integration. This example uses CKFinder 3 for PHP.
            filebrowserBrowseUrl: '/FileManager/Create',
            filebrowserImageBrowseUrl: '/FileManager/Create?type=Images',
            filebrowserUploadUrl: '/ckfinder/connector?command=QuickUpload&type=Files',
            filebrowserImageUploadUrl: '/ckfinder/connector?command=QuickUpload&type=Images',

            height: 560,

            removeDialogTabs: 'image:advanced;link:advanced'
        });
        CKFinder.setupCKEditor(editor);
    </script>
}