@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/js/EasyChatLib/assets/css/easy-chat.css">
<div id="easy-chat"></div>
<script src="https://local.easychat.eduso.vn/chat/ScriptEasyChat"></script>
<script src="~/js/EasyChatLib/assets/js/Lib/signalr.js"></script>
<script src="/home/CurrentUser"></script>
<script src="~/js/EasyChatLib/assets/js/text.js"></script>
<script src="~/js/EasyChatLib/assets/js/members.js"></script>
<script src="~/js/EasyChatLib/assets/js/groups.js"></script>
<script src="~/js/EasyChatLib/assets/js/message.js"></script>
<script src="~/js/EasyChatLib/assets/js/UI.js"></script>
<script src="~/js/EasyChatLib/assets/js/easychat.js"></script>

<script>
    var easyChat = new EasyChat();
    var opts = {
        currentUser: g_CurrentUser,
        url: {
            group: {
                getlist: "/api/EasyChat/GetClassList"
            },
            member: {
                getlist: "/api/EasyChat/GetMembers"
            }
        },
        extendsUrl: g_EasyChatURL,
    };
    easyChat.Create(opts);
</script>