

<div class="footer pt-5 pb-5">
    <div class="inner-content d-flex flex-column flex-md-row">
        <div class="logo mr-4 media-body d-none d-md-block">
            <img src="~/images/bottom-logo.png" />
        </div>
        <div class="mr-4 media-body">
            <div class="footer-title">
                Công ty TNHH Eduso Vietnam
            </div>
            <div>
                <div class="mb-2">
                    Số 3 Đường Cầu Giấy, Ngọc Khánh, Đống Đa, Hà Nội, Việt Nam
                </div>
                <div class="mb-2">
                    Email: eduso.vn@gmail.com
                </div>
                <div class="mb-2">
                    Điện thoại: 0989085398
                </div>
            </div>
        </div>
        <div class="media-body">
            <div class="footer-title">
                Thông tin chi tiết
            </div>
            <div>
                <div class="mb-2">
                    <a href="#">
                        Về Eduso Vietnam
                    </a>
                </div>
                <div class="mb-2">
                    <a href="#">
                        Sản phẩm
                    </a>
                </div>
                <div class="mb-2">
                    <a href="#">
                        Tin tức
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>