

<div class="footer pt-5 pb-5">
    <div class="inner-content d-flex flex-column flex-md-row">
        <div class="logo mr-4 media-body d-none d-md-block col-md-3">
            <img class="w-100" src="~/images/bottom-logo.png" />
        </div>
        <div class="mr-4 media-body col-md-7">
            <div class="footer-title" style="font-size:16px !important">
                CÔNG TY CỔ PHẦN CÔNG NGHỆ VÀ GIẢI PHÁP GIÁO DỤC EDUSO
            </div>
            <div style="font-size:14px !important">
                <div class="mb-2">
                   Địa chỉ: Trường ĐH Giao thông Vận tải - Số 3 Cầu Giấy, Láng Thượng, Đống Đa, Hà Nội.
                </div>
                <div class="mb-2">
                    Email: eduso.vn@gmail.com
                </div>
                <div class="mb-2">
                    Điện thoại: 0989085398
                </div>
            </div>
        </div>
        <div class="media-body col-md-2">
            <div class="footer-title" style="font-size:16px !important">
                Thông tin chi tiết
            </div>
            <div style="font-size:14px !important">
                <div class="mb-2">
                    <a href="/tin-tuc/ve-eduso">
                        Về Eduso
                    </a>
                </div>
                <div class="mb-2">
                    <a href="/tin-tuc/san-pham">
                        Sản phẩm
                    </a>
                </div>
                <div class="mb-2">
                    <a href="/tin-tuc">
                        Tin tức
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>