@{
    var currentCourse = ViewBag.Course as BaseCustomerEntity.Database.CourseEntity;
}

<nav role="navigation" aria-label="Class Navigation Menu">
    <ul id="section-tabs">
        <li class="section"><a href="@Url.Action("Detail","Curriculum")/@currentCourse.ID" title="Introduce" class="intro" tabindex="0">Intro</a></li>
        <li class="section"><a href="@Url.Action("Modules","Curriculum")/@currentCourse.ID" title="Modules" class="modules" tabindex="0">Modules</a></li>
        <li class="section"><a href="@Url.Action("Assignments","Curriculum")/@currentCourse.ID" title="Assignment" class="assignments" tabindex="0">Assignment</a></li>
    </ul>
</nav>

<script>
    $('.sub-sidebar .' + activeSub).parent().addClass('active');
</script>