@{
    var currentCourse = ViewBag.Course as BaseCustomerEntity.Database.CourseEntity;
}

<nav role="navigation" aria-label="Class Navigation Menu">
    <ul id="section-tabs">
        <li class="section"><a href="@Url.Action("Detail","Curriculum")/@currentCourse.ID" title="Giới thiệu" class="intro" tabindex="0">Tổng quan</a></li>
        <li class="section"><a href="@Url.Action("Modules","Curriculum")/@currentCourse.ID" title="Cấu trúc bài" class="modules" tabindex="0">Cấu trúc bài</a></li>
        @*<li class="section"><a href="@Url.Action("Assignments","Curriculum")/@currentCourse.ID" title="Bài kiểm tra" class="assignments" tabindex="0">Bài kiểm tra</a></li>*@
    </ul>
</nav>

<script>
    $('.sub-sidebar .' + activeSub).parent().addClass('active');
</script>