@using BaseCustomerMVC.Globals
@using System.Security.Claims
@{
    var model = ViewBag.Model;
    List<BaseCustomerEntity.Database.CenterEntity> allcenters = ViewBag.AllCenters as List<BaseCustomerEntity.Database.CenterEntity>;
    string mtype = ViewBag.Type as string;
}
<div class="topbar d-flex align-items-center">
    <div class="container">
        <div class="d-flex text-light align-items-center justify-content-between">
            <div>
                <span class="hotline d-flex align-items-center"><i class="ic ic-phone mr-1"></i> HOTLINE: <a href="tel:+84989085398" class="action-link ml-1">+ 84 989.085.398</a></span>
            </div>
            <div class="d-flex">
                @if (allcenters == null && mtype == null)
                {
                    <a href="/login" title="Đăng nhập" class="action-link mr-3">Đăng nhập</a>
                    <span class="divider align-self-lg-stretch bg-light"></span>
                    <a href="/login" class="action-link ml-3">Đăng ký</a>
                }
                else
                {
                    if (allcenters.Count == 1)
                    {
                        <a href="/@allcenters[0].Code/@mtype" title="@allcenters[0].Name" class="action-link mr-3">Đến @allcenters[0].Name</a>
                    }
                    else
                    {
                        <select id="owncenter" class="p-1 rounded" onchange="changeCenter()" style="border: solid 2px green; font-size: 12px;">
                            <option value="">-- Đến cơ sở --</option>
                            @foreach (var ct in allcenters)
                            {
                                <option value="@ct.Code">@ct.Name</option>
                            }
                        </select>
                        @:<script>var changeCenter = function () { document.location = "/" + $('#owncenter').val() + "/teacher" }</script>
                    }
                }
            </div>
        </div>

    </div>
</div>
<div class="menubar d-flex align-items-center">
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div>
            <div class="home">
                <a href="/" class="logo">
                    <img src="~/images/LogoTOP.png" />
                </a>
            </div>
            <div class="toggler">

            </div>
        </div>
        <div class="nav-link">
            <a href="#" class="mr-4">Trang chủ</a>
            <a href="#" class="mr-4 ml-4">Về EDUSO</a>
            <a href="#" class="mr-4 ml-4">Sản phẩm</a>
            <a href="#" class="mr-4 ml-4">Sự kiện</a>
            <a href="#" class="mr-4 ml-4">Tin tức</a>
            <a href="#" class="ml-4">Tuyển dụng</a>
        </div>
    </div>
</div>
<style>
    .topbar {
        height: 48px;
        background-color: #03324C !important;
        font-weight: 600;
    }

        .topbar .hotline, .topbar .action-link {
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        .topbar .action-link {
            cursor: pointer;
        }

            .topbar .action-link:hover {
                text-decoration: none;
            }

        .topbar .hotline .ic {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .topbar .hotline .ic-phone {
            background-image: url('../images/phone_sm.png');
        }

        .topbar .divider {
            width: 1px;
        }

    .menubar {
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
        font-weight: 600;
        margin-bottom: 8px;
    }

    @@media(max-width: 800px) {
        .menubar {
            height: auto;
        }
    }

    .menubar .logo {
        height: 56px;
        display: block;
    }

        .menubar .logo img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            display: block;
        }

    .menubar .nav-link a {
        font-size: 14px;
        line-height: 20px;
        color: #08486B;
    }

        .menubar .nav-link a:hover,
        .menubar .nav-link a.active {
            text-decoration: none;
            cursor: pointer;
            color: #C1272C;
        }
</style>