<div>
    <p><span>Anh/chị có thể tra cứu thông tin tuyển sinh của các trường trên địa bàn Tỉnh/ Thành phố theo các bước sau:</span></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 1</span><span class="font-wight-400">: Truy cập vào hệ thống, Bấm chọn </span><span class="font-wight-400 red">Đăng ký tuyển sinh </span><span class="font-wight-400">trên màn hình trang chủ</span></p>
    <p><img class="fullwidth" [src]="home"></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 2</span><span class="font-wight-400">: Tại màn hình Danh sách </span><span class="font-wight-400 red">Đợt tuyển sinh</span><span class="font-wight-400">, anh/chị vui lòng Bấm chọn đợt tuyển sinh mong muốn dự tuyển:</span></p>
    <p><img class="fullwidth" [src]="danhsach"></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 3</span><span class="font-wight-400">: Hệ thống hiển thị màn hình nhập phiếu đăng ký, anh/chị có thể tìm thông tin học sinh có sẵn trong hệ thống hoặc nhập </span></p><p><span class="font-wight-400">mới phiếu đăng ký</span></p>
    <p><span>Anh/chị nhập họ tên và ngày sinh để tìm kiếm học sinh, nếu học sinh tồn tại dữ liệu trong hệ thống các thông tin sẽ tự động lấy từ thông tin có sẵn</span></p>
    <p><img class="fullwidth" [src]="dangky"></p>
    <p><span class="font-wight-400">Nhập đầy đủ các thông tin anh/chị Bấm </span><span class="font-wight-400 red text-bold">Đăng ký.</span></p>
</div>
<div>    
    <p><span class="font-wight-700 green">Bước 4</span><span class="font-wight-400">: Anh/chị kiểm tra lại các thông tin đã nhập và nhập Mã xác nhận, bấm Gửi thông tin</span></p>
    <p><img class="fullwidth" [src]="xacnhan"></p>
</div>
<div>
    <p><span class="font-wight-700 green">Bước 5</span><span class="font-wight-400">: Hệ thống thông báo đăng ký thành công!</span></p>
</div>

