@{
    Layout = "~/Views/Shared/_LayoutDefaults.cshtml";
}
<link href="~/Contents/Css/Template.css" rel="stylesheet" />
<div class="container">
    <div class="show-layout">
        <div id="render-layout">
            <div class="row">
            <div class="col-6"><static-layout id="vswLogo" code="CAdv" name="Logo"></static-layout></div>
            <div class="col-6"><static-layout id="vswNav" code="CMenu" name="MenuTop"></static-layout></div>
            <div class="col-12"><dynamic-layout id="vswMain" name="Main"></dynamic-layout></div></div>
        </div>
    </div>
    <pre class="form-control" id="target"></pre>
    <div style="clear:both"></div>
</div>
<script src="~/Contents/js/SortTable.js"></script>
<script src="~/Contents/js/DesignTemplate.js"></script>
<script type="text/javascript">
    Layout.onReady(function () {
        var widget = new Layout.widget({
            container_id: "render-layout",
            url_save: "/cpapi/updateTemplate",
            url_template: "/cpapi/gettemplateinfo",
            url_webmenu: "/cpapi/getmenuforweb",
            url_cpmenu: "/cpapi/getcmoduleall",
            template_id: "1",
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        $(".sortable").sortable({
            items: "div:not(.item-create)"
        });
    });
</script>